{% extends 'base.html' %}
{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}')" {% endblock controller %}
{% block title %}Job Details{% endblock title %}
{% block body_id %}job_details{% endblock body_id %}

{% block content %}

<div class="separation">

<h1> {{job.job_title}} </h1>
<div class="separation_outer">
<div> 
	<div>
		<h2>Job Description</h2>
	</div>
		
	<h3>{{ job.summary }}</h3>
	<span>
		
		{% if job.salary %}
			<p class="outer">
            	<span class="col-xs-6 col-md-4">Salary : </span>
            	<span class="col-xs-12 col-md-8">{{job.salary}} {{job.currency}} </span>
            </p>				
		{% else %}				
			<p>
            	<span class="col-xs-6 col-md-4">Salary : </span>
            	<span class="col-xs-12 col-md-8">As per Company Norms </span>
            </p>
		{% endif %}

		<p class="outer">
        	<span class="col-xs-6 col-md-4">Industry : </span>
        	<span class="col-xs-12 col-md-8">{{job.industry}} </span>
        </p>
		<p class="outer">
        	<span class="col-xs-6 col-md-4">Functional Area : </span>
        	<span class="col-xs-12 col-md-8">{{job.function}}</span>
        </p>
		<p class="outer">
        	<span class="col-xs-6 col-md-4">Location : </span>
        	<span class="col-xs-12 col-md-8">{{ job.job_location }} </span>
        </p>
		<p class="outer">
        	<span class="col-xs-6 col-md-4">Role : </span>
        	<span class="col-xs-12 col-md-8">{{ job.job_title }} </span>
        </p>
		<p class="outer">
        	<span class="col-xs-6 col-md-4">Last Date : </span>
        	<span class="col-xs-12 col-md-8">{{job.last_date}} </span>
        </p>
	</span>

	<div style="margin:20px 0 0 0; float:left; width:100%;"><h2>Desired Candidate Profile</h2></div>
	<div><br>
		<span>
		<p class="outer">
        <span class="col-xs-6 col-md-4">Skills : </span>
        	<span class="col-xs-12 col-md-8">{{job.skills}} </span>
        </p>
		<p class="outer">
        	<span class="col-xs-6 col-md-4">Experience :</span>
         	<span class="col-xs-12 col-md-8">{{job.exp_req_min}} - {{job.exp_req_max}}</span>
        </p>
		<p class="outer">
       	<span class="col-xs-6 col-md-4"> Education Required : </span>
        	<span class="col-xs-12 col-md-8">{{job.education_req}}</span>
        </p>
		<p class="outer">
        	<span class="col-xs-6 col-md-4">Specialization : </span>
        	<span class="col-xs-12 col-md-8">{{ job.specialization }} </span>
        </p>
		<p class="outer">
        	<span class="col-xs-6 col-md-4">Nationality : </span>
        	<span class="col-xs-12 col-md-8">{{job.nationality}} </span>
        </p>
	</span>
	</div>
	{% if job.description %}
		<div>
			<h2>Company Profile</h2>
		</div><br>
		<div>
			<p>{{ job.description}}</p>
		</div>
	{% endif %}
	
	<p class="error_message">{{ message }}</p>
	{% if not not_able_to_apply %}
		{% if  user.is_authenticated %}
			{% if user.jobseeker_set.all %}
				{% if job not in user.jobseeker_set.all.0.applied_jobs.all %}
			        <a href="{% url 'apply_jobs' job_id=job.id %}"><input class="button btn btn-warning" type="submit" name="apply" value="Apply Job"></a>
			    {% else %}
			        <p>You have applied for this Job</p>
			    {% endif %}
			{% else %}
				<p></p>
			{% endif %}
	    {% else %}
	    	<input class="button " type="button" ng-click="show_login_popup()" class="login_button"value="Login to apply" />
	    {% endif %}	
	{% endif %}
   
    

</div>
</div>
</div>
{% endblock content %}