{% extends 'base.html' %}
{% block title %}Job Details{% endblock title %}
{% block body_id %}job_details{% endblock body_id %}

{% block content %}



<h1> {{job.job_title}} </h1>

<div> 
	<div>
		<h2>Job Description</h2>
	</div>
		
	<h3>{{ job.summary }}</h3>
	<span>
		
		{% if job.salary %}
			Salary : {{job.salary}} {{job.currency}} <br/>					
		{% else %}				
			Salary : As per Company Norms <br/>
		{% endif %}

		Industry : {{job.industry}} <br/>
		Functional Area : {{job.industry}}<br/>
		Location : {{ job.function }} <br/>
		Role : {{ job.job_title }} <br/>
		Last Date : {{job.last_date}} <br/>
	</span>

	<div><h2>Desired Candidate Profile</h2></div>
	<div><br>
		<span>
		Skills : {{job.skills}} <br/>
		Experience : {{job.exp_req_min}} - {{job.exp_req_max}}<br/>
		Education Required : {{job.education_req}}<br/>
		Specialization : {{ job.specialization }} <br/>
		Nationality : {{job.nationality}} <br/>
	</span>
	</div>
	<div>
		<h2>Company Profile</h2>
	</div><br>
	<div>
		<p>{{ job.description}}</p>
	</div>
	
	<p >{{ message }}</p>
	{% if job not in user.jobseeker_set.all.0.applied_jobs.all %}
        <a href="{% url 'apply_jobs' job_id=job.id %}"><input type="submit" name="apply" value="Apply Job"></a>
    {% else %}
        <p>You have applied for this Job</p>
    {% endif %}


   
    

</div>

{% endblock content %}