{% extends 'base.html' %}
{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}')" {% endblock controller %}
{% block title %}Job Details{% endblock title %}
{% block body_id %}job_details{% endblock body_id %}

{% block content %}



<h1> {{job.job_title}} </h1>

<div> 
	<div>
		<h2>Job Description</h2>
	</div>
		
	<h3>{{ job.summary }}</h3>
	<span>
		
		{% if job.salary %}
			Salary : {{job.salary}} {{job.currency}} <br/>					
		{% else %}				
			Salary : As per Company Norms <br/>
		{% endif %}

		Industry : {{job.industry}} <br/>
		Functional Area : {{job.function}}<br/>
		Location : {{ job.job_location }} <br/>
		Role : {{ job.job_title }} <br/>
		Last Date : {{job.last_date}} <br/>
	</span>

	<div><h2>Desired Candidate Profile</h2></div>
	<div><br>
		<span>
		Skills : {{job.skills}} <br/>
		Experience : {{job.exp_req_min}} - {{job.exp_req_max}}<br/>
		Education Required : {{job.education_req}}<br/>
		Specialization : {{ job.specialization }} <br/>
		Nationality : {{job.nationality}} <br/>
	</span>
	</div>
	{% if job.description %}
		<div>
			<h2>Company Profile</h2>
		</div><br>
		<div>
			<p>{{ job.description}}</p>
		</div>
	{% endif %}
	
	<p >{{ message }}</p>
	{% if  user.is_authenticated %}
		{% if user.jobseeker_set.all %}
			{% if job not in user.jobseeker_set.all.0.applied_jobs.all %}
		        <a href="{% url 'apply_jobs' job_id=job.id %}"><input type="submit" name="apply" value="Apply Job"></a>
		    {% else %}
		        <p>You have applied for this Job</p>
		    {% endif %}
		{% else %}
			<p></p>
		{% endif %}
    {% else %}
    	<input class="button " type="button" ng-click="show_login_popup()" class="login_button"value="Login to apply" />
    {% endif %}	
   
    

</div>

{% endblock content %}