{% extends 'base.html' %}
{% block content %}
<li>{{user.username}}  </li>
<li><a href="{% url 'reset_password' user.id %}">Change Password</a></li>
<li><a href="{% url 'jobseeker_details' %}">View Profile</a></li>
<li><a href="{% url 'jobseeker_log' %}">Activity Log</a></li>
<li><a href="{% url 'search_job' %}">Search Jobs </a></li>

<li><a onclick="search_by_location('location')" href="" title="">Jobs By Location</a></li>
<li><a onclick="search_by_location('skills')" href="" title="">Jobs By Skills</a></li>

{% endblock %}