{% extends base_template %}
{% block title %}Jobseeker Dashboard {% endblock title%}
{% block body_id %}jobseeker_details{% endblock %}
{% block controller %}ng-controller="EditJobSeekerController" ng-init="init('{{csrf_token}}', '{{jobseeker_id}}')"{% endblock controller %}

{% block dashboard_content %}
{% if  user.is_authenticated %}
	{% if not user.is_superuser %}
	        <div class="separation_outer_hd">
	           <div class="col-md-8" style="">
			   		<h2>Welcome {{user.first_name}}</h2>
                    <div ng-show="view_user_login_details">
				<h3>User Details</h3>
	            <div class="form-group">
	                <p class="outer">
	                    <span class="col-xs-6 col-md-4">Email Id:</span>
	                   <span class="col-xs-12 col-md-8">{{user.email}}</span>
	                </p>           
	            </div>
				<p class="btn">
					<input class="button btn btn-primary" type="submit" name="submit" value="Update" ng-click="show_user_login_details()">
				</p>
	        </div>
                    
	           </div>	           
		        <div class="col-md-4" style=" text-align:center;">
					<div style="border:1px solid #a84101; width:100%">
						{% if user.jobseeker_set.all.0.photo %}
							<img src="/site_media/{{user.jobseeker_set.all.0.photo.name}}" alt="" width="149px" height="132px" />					  {% else %}
					    	{% if user.jobseeker_set.all.0.gender == 'male' %}
					    		<img src="/static/images/user5.jpeg" alt="" width="149px" height="132px" >
					    
					    	{% else %}
					    		<img src="/static/images/user6.jpeg" alt="" width="149px" height="132px" >
					    	{% endif %}
					    {% endif %}			    	
					</div>
	            </div>
            </div>  
            
                      
			 
            
            
            
        	<div class="clear"></div>
			<div class="separation_outer" ng-show="view_personal_details">
		        <div class="form-group">
					<h3>Personal Details</h3>		            
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Gender :</span>
		                <span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.gender}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">DOB :</span>
		                 <span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.dob}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Marital Status :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.marital_status}}</span>
		            </p>
					<p class="outer">
		           		<span class="col-xs-6 col-md-4"> Nationality :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.nationality}}</span>
		            </p>
		            <p class="outer">
		            	<span class="col-xs-6 col-md-4">Current Location :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.country}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">City :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.city}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Mobile Number :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.country_code}}{{user.jobseeker_set.all.0.mobile}}</span>
		            </p>
					<p class="outer">
		           		<span class="col-xs-6 col-md-4"> Alternate E-mail Id :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.alt_mail}}</span>
		            </p>					
					<p class="btn">
						<input class="button btn btn-primary" type="submit" name="submit" value="Update" ng-click="show_personal_details()">
					</p>
				</div>
	        </div>        
	       	<div class="clear"></div>
			<div class="separation_outer" ng-show="view_educational_details">
		        <div class="form-group">
					<h3>Education Details</h3>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Basic Education :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.education.basic_edu}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Specialization :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.education.basic_edu_specialization}}</span>
		            </p>
					<p class="outer">
		           		<span class="col-xs-6 col-md-4"> Year of Passing :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.education.pass_year_basic}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Masters Education :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.education.masters}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Specialization :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.education.masters_specialization}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Year of Passing :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.education.pass_year_masters}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Doctrate :</span>
						<span class="col-xs-12 col-md-8">
							{% for doctrate in user.jobseeker_set.all.0.education.doctrate.all %}
								{{doctrate}}
							{% endfor %}
						</span>
					</p>
					</br>
					<p class="btn">
						<input class="button btn btn-primary" type="submit" name="submit" value="Update" ng-click="show_educational_details()">
					</p>
				</div>
	        </div>        
       		<div class="clear"></div>       
			<div class="separation_outer" ng-show="view_employment_details">
		        <div class="form-group">
					<h3>Employment Details</h3>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Total Experience :</span>
		           		<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.employment.exp_yrs}} years {{user.jobseeker_set.all.0.employment.exp_mnths}} months</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4"> Salary per annum :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.employment.salary}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Current Designation :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.employment.designation}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Current Industry :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.employment.curr_industry}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Functional Area :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.employment.function}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Current Employer :</span>
						<span class="col-xs-12 col-md-8">
							{% for employer in user.jobseeker_set.all.0.employment.previous_employer.all %}
								{{employer}}
							{% endfor %}
						</span>
		            </p></br>
					<p class="outer">
		           		<span class="col-xs-6 col-md-4"> Key Skills :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.employment.skills}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Prefered Locations :</span>
						<span class="col-xs-12 col-md-8">
							{% for location in user.jobseeker_set.all.0.prefered_locations.all %}
								{{location}}
							{% endfor %}
						</span>
					</p></br>					
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Prefered Companies :</span>
						<span class="col-xs-12 col-md-8">
							{% for company in user.jobseeker_set.all.0.prefered_companies.all %}
								{{company}}
							{% endfor %}
						</span>
					</p></br>					
					<p class="btn"><input class="button btn btn-primary" type="submit" name="submit" value="Update" ng-click="show_current_employer_details()"></p>
				</div>
	        </div>        
       		<div class="clear"></div>       
			<div class="separation_outer" ng-show="view_resume_details">
		        <div class="form-group">
					<h3>Resume Details</h3>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Resume Title :</span>
		            	<span class="col-xs-12 col-md-8">{{user.jobseeker_set.all.0.education.resume_title}}</span>
		            </p>
					<p class="outer">
		            	<span class="col-xs-6 col-md-4">Resume visible to recruiters:</span>
						<span class="col-xs-12 col-md-8">
							{% if user.jobseeker_set.all.0.education.is_resume_show %}
								Yes
							{% else %}
								No
							{% endif %}
						</span>
					</p>
					{% if user.jobseeker_set.all.0.education.resume %}
						<a href="/site_media/{{user.jobseeker_set.all.0.education.resume.name}}" target="_blank">View Attached Resume</a>
					{% endif %}
					<p class="btn"><input class="button btn btn-primary" type="submit" name="submit" value="Update" ng-click="show_resume_details()"></p>
				</div>
	        </div>        
	       	<div class="clear"></div>	       
			<div class="separation_outer" ng-show="view_photo_details">
				<div class="form-group">
				<h3>Photo</h3>
				{% if user.jobseeker_set.all.0.photo %}
					<a href="/site_media/{{user.jobseeker_set.all.0.photo.name}}" target="_blank">View Photo</a>
				{% endif %}
				<p class="btn"><input class="button btn btn-primary" type="submit" name="submit" value="Change" ng-click="show_photo_details()"></p>
				</div>
			</div>
       		<div class="clear"></div>
			<form name="registration" method="post" action="">
				{% csrf_token %}
	            <div class="separation_outer" ng-show="user_login_detail">
                	<p class="mandatory">* Mandatory Fields</p>
                	<div class="form-group-outer">
                        <label class="col-sm-4 control-label">Username<span class="red">*</span></label>  
                        <div class="col-sm-8">                         
	                        <input class="form-control" type="text" name="username" ng-model="user_login_details.username" value="{{user_login_details.username}}" readonly>
                        </div>
             		</div> 
             		<div class="form-group-outer">
                        <label class="col-sm-4 control-label">Email Id<span class="red">*</span></label>  
                        <div class="col-sm-8">                         
	                        <input class="form-control" type="text" name="email" ng-model="user_login_details.email" value="{{user_login_details.email}}">
                        </div>
             		</div>
                    <div class="form-group-outer"> 
                        <label class="col-sm-4 control-label">First Name<span class="red">*</span></label>    
                        <div class="col-sm-8">                         
                        	<input class="form-control" type="text" name="first_name" ng-model="user_login_details.first_name" value="{{email.first_name}}">
                        </div>
                    </div> 
                    <div class="form-group-outer">
                        <label class="col-sm-4 control-label">Last Name<span class="red">*</span></label> 
                        <div class="col-sm-8">               
                        	<input class="form-control" type="text" name="last_name" ng-model="user_login_details.last_name"  value="{{user_login_details.last_name}}">
                        </div>
                    </div> 
                	<p class="btn">
                		<input class="button btn btn-warning" type="submit" name="submit" value="Save" ng-click="edit_user_login_details ()">
                	</p>
                	<p class="error_message">[[edit_user_login_validation_message]]</p> 
                </div>    
            	<div class="clear"></div>
				<div class="separation_outer" ng-show="personal_details">
					<p class="mandatory">* Mandatory Fields</p>
					<h3>Personal Details</h3>
					<div class="form-group-outer">
	                	<label class="col-sm-4 control-label">Gender<span class="red">*</span></label> 
	                    <div class="col-sm-8">  
		                    <input type="radio" name="gender" ng-model="personal.gender" value="male">
		                    <span class="span_label">Male</span>
		                    <input type="radio" name="gender" ng-model="personal.gender" value="female">
		                    <span class="span_label">Female</span>
	                    </div>
	                </div>
					<div class="clear"></div>	                
					<div class="form-group-outer">
						<label class="col-sm-4 control-label">DOB<span class="red">*</span></label>
		                <div class="col-sm-8"> 
						<input class="form-control" type="text" name="dob" id="dob" ng-model="personal.dob" readonly="readonly">
		                </div>
	                </div>
					<div class="clear"></div>	                
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label">Marital Status<span class="red">*</span></label>
	                	<div class="col-sm-8">              
							<select class="form-control" name="marital_status" ng-model="personal.marital_status">
								<option value="{{personal.marital_status}}"></option>
								<option value="Single">Single</option>
								<option value="Married">Married</option>
								<option value="Divorced">Divorced</option>
								<option value="Widowed">Widowed</option>
							</select>
	                	</div>
	                </div>
					<div class="clear"></div>					
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label">Nationality<span class="red">*</span></label>
		                <div class="col-sm-8"> 
							<select class="form-control" name="nationality" ng-model="personal.nationality"> 
								<option value="{{personal.nationality}}"></option>
								<option ng-repeat="nationality in nationalities" value="[[nationality]]" ng-selected="nationality== personal.nationality">[[nationality]]</option>
							</select>
						</div>
	                </div>
					<div class="clear"></div>	                
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label">Current Location<span class="red">*</span></label> 
		                <div class="col-sm-8"> 
							<select class="form-control" name="country" ng-model="personal.country" ng-change="get_code()">
								<option value="{{personal.country}}"></option>
								<option ng-repeat="country in countries" value="[[country]]" ng-selected="country== personal.country">[[country]]</option>
							</select>
						</div>
	                </div>
					<div class="clear"></div>	                
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label">City<span class="red">*</span></label>
		                <div class="col-sm-8"> 
							<input class="form-control" type="text" name="city" ng-model="personal.city" value="{{personal.city}}">
		                </div>
	                </div>
					<div class="clear"></div>	                
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label">Mobile Number<span class="red">*</span></label>
	                	<div class="col-sm-8"> 
	                		<input class="form-control" readonly="readonly" type="text" name="" ng-model="personal.code" value="{{personal.country_code}}" style="width:30%; float:left; margin:0 20px 0 0px;">
							<input class="form-control" type="text" name="mobile" ng-model="personal.mobile" value="{{personal.mobile}}" style="width:64%; float:left;">
						</div>
	                </div>
	                <div class="clear"></div>	                
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label">Landline Number</label>
	                	<div class="col-sm-8"> 
							<input class="form-control" type="text" name="mobile" ng-model="personal.phone" value="{{personal.phone}}">
						</div>
	                </div>
					<div class="clear"></div>	                
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label">Alternate E-mail Id</label>
		                <div class="col-sm-8"> 
							<input class="form-control" type="text" name="alt_email" ng-model="personal.alt_email"  value="{{personal.alt_email}}">
						</div>
	                </div>
					<div class="clear"></div>	                
		                <div class="col-sm-offset-2 col-sm-10">
							<p class="btn"><input class="button btn btn-warning" type="submit" name="submit" value="Save" ng-click="edit_personal_details ()"></p>
							<p class="error_message ">[[personal_validation]]</p>
		                </div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>	          
				<div class="separation_outer" ng-show="current_employment_details ">
					<p class="mandatory">* Mandatory Fields</p>
					<h3>Current Employment Details</h3>		            
		            <div class="form-group-outer">
						<label class="col-sm-4 control-label">Total Experience<span class="red">*</span></label>
			            <div class="col-sm-8"> 
							<select  name="years" ng-model="current_employer.years" class="years_select form-select-control">
								<option value="" disabled="true">years</option>
								<option ng-repeat="expr in experience" value="[[expr]]" ng-selected="expr == current_employer.years">[[expr]]</option>
							</select>
							<select  name="months" ng-model="current_employer.months" class="month_select form-select-control">
								<option value="" disabled="true">months</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
							</select> 
			            </div>
		            </div>		            
		            <div class="form-group-outer">
						<label class="col-sm-4 control-label">Salary per annum</label>
			            <div class="col-sm-8"> 
							<input class="form-control" type="text" name="salary" ng-model="current_employer.salary">
			            </div>
		            </div>		            
		            <div class="form-group-outer">
						<label class="col-sm-4 control-label"> Currency </label>
			            <div class="col-sm-8"> 
							<select class="form-control" name="currency" ng-model="current_employer.currency">
								<option value="">Select Currency</option>
								<option ng-repeat="currency in currencies | orderBy:'toString()'" value="[[currency]]" ng-selected="currency == current_employer.currency">[[currency]]</option>
							</select>
			            </div>
		            </div>		            
		            <div class="form-group-outer">
						<label class="col-sm-4 control-label">Current Designation</label>
			            <div class="col-sm-8"> 
							<input class="form-control" type="text" name="designation" ng-model="current_employer.designation">
			            </div>
		            </div>
		            <div class="form-group-outer">
						<label class="col-sm-4 control-label">Current Employer</label>
						<div class="add_employers">
				            <div class="col-sm-8"> 
				            	<div ng-repeat="employer in employers">
				            		<input class="form-control" type="text" name="previous_employer" ng-model="employer.employer"  >
				            		<button ng-click="delete_employer([[$index]])">X</button>
				            	</div>								
								<a ng-show="hide_emp" href="" ng-click="add_employer()"><button>+</button></a>								
							</div>
			            </div>
		            </div>				            
		            <div class="form-group-outer">
						<label class="col-sm-4 control-label">Industry Type<span class="red">*</span></label>
			            <div class="col-sm-8"> 
							<select class="form-control" name="industry" ng-model="current_employer.industry"> 
								<option value="">Select</option>
								<option ng-repeat="industry in industries | orderBy:'toString()'" value="[[industry]]" ng-selected="industry == current_employer.industry">[[industry]]</option>				
							</select>
			            </div>
		            </div>		            
		            <div class="form-group-outer">
						<label class="col-sm-4 control-label">Functional Area<span class="red">*</span></label>
			            <div class="col-sm-8"> 
							<select class="form-control" name ="functions" ng-model="current_employer.functions">
								<option value="">Select</option>
								<option ng-repeat="function in functions | orderBy:'toString()'" value="[[function]]" ng-selected="function == current_employer.functions">[[function]]</option>
							</select>
			            </div>
		            </div>		            
		            <div class="form-group-outer">
						<label class="col-sm-4 control-label">Key Skills<span class="red">*</span></label>
			            <div class="col-sm-8"> 
							<textarea class="form-control" rows="4" cols="20" name="skills" ng-model="current_employer.skills"></textarea>
			            </div>
			        </div>			            
			        <div class="form-group-outer">
						<label class="col-sm-4 control-label"> Prefered Location </label>
			            <div class="col-sm-8"> 
							<select class="form-control" name="locations" ng-model="current_employer.locations" multiple>
								<!-- <option value="">Select location</option> -->
								<option ng-repeat="country in countries" value="[[country]]" ng-click="get_prefered_locations(country)">[[country]]</option>
							</select>
			            </div>
		            </div>		            
		            <div class="form-group-outer">
						<label class="col-sm-4 control-label"> Prefered Company </label>
			            <div class="col-sm-8"> 
							<select class="form-control" name="companies" ng-model="current_employer.companies" multiple>
								<!-- <option value="">Select company</option> -->
								<option ng-repeat="company in companies | orderBy:'toString()'" value="[[company.id]]" ng-selected="company.selected" ng-click="get_prefered_companies(company)">[[company.name]]</option>
							</select>
			            </div>
		            </div>		            
					<p class="btn"><input class="button btn btn-warning" type="submit" name="submit" value="Save" ng-click="edit_current_employer_details(jobseeker_id)"></p>			
					<p class="error_message">[[current_employer_validation_msg]]</p>
				</div>
				<div class="separation_outer" ng-show="educational_detail">
					<p class="mandatory">* Mandatory Fields</p>
					<h3>Education Details</h3>
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label"> Basic Education<span class="red">*</span></label>
		                <div class="col-sm-8"> 
							<select class="form-control" name="basic_edu" ng-model="educational_details.basic_edu" ng-change="get_stream()">
								<option value="">-----------Select---------</option>
								<option ng-repeat="education in basic_education | orderBy:'toString()'" value="[[education]]" ng-selected="education == educational_details.basic_edu" >[[education]]</option>
							</select>
						</div>
	                </div>	              
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label"> Specialization<span class="red">*</span></label>
		                <div class="col-sm-8"> 
							<select class="form-control" name="basic_specialization" ng-model="educational_details.basic_specialization">
								<option value="">-----------Select---------</option>
								<option ng-repeat="specialization in basic_specializations | orderBy:'toString()'" value="[[specialization]]" ng-selected="specialization == educational_details.basic_specialization">[[specialization]]</option>
							</select>
						</div>
	                </div>	                    
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label"> Year of Passing<span class="red">*</span></label>
		                <div class="col-sm-8"> 
							<select class="form-control" name="pass_year_basic" ng-model="educational_details.pass_year_basic">
								<option value="">--------Select-------</option>
								<option ng-repeat="yr in year" value="[[yr]]" ng-selected="yr == educational_details.pass_year_basic ">[[yr]]</option>
							</select>
						</div>
	                </div>	                
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label"> Masters Education</label>
		                <div class="col-sm-8"> 
							<select class="form-control" name="masters_edu" ng-model="educational_details.masters_edu" ng-change="get_master_stream()" >
								<option value="">---------Select---------</option>
								<option ng-repeat="edu in masters_education | orderBy:'toString()'" value="[[edu]]" ng-selected="edu == educational_details.masters_edu" >[[edu]]</option>
							</select>
		                </div>
	                </div>	                
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label"> Specialization</label>
		                <div class="col-sm-8"> 
							<select class="form-control" name="master_specialization" ng-model="educational_details.master_specialization">
								<option value="">-----------Select---------</option>
								<option ng-repeat="specialization in specializations | orderBy:'toString()'" value="[[specialization]]" ng-selected="specialization == educational_details.master_specialization">[[specialization]]</option>
							</select>
		                </div>
	                </div>	                    
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label"> Year of Passing</label>
		                <div class="col-sm-8"> 
							<select class="form-control" name="pass_year_masters" ng-model="educational_details.pass_year_masters" >
								<option value="">--------Select-------</option>
								<option ng-repeat="yr in year" value="[[yr]]" ng-selected="yr == educational_details.pass_year_masters">[[yr]]</option>
							</select>
		                </div>
	                </div>	                
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label"> Doctrate</label>
						<div class="add_employers">
			                <div class="col-sm-8"> 
			                	<div ng-repeat="doctrate in doctorate" >
								<input class="form-control" type="text" name="doctrate" ng-model="doctrate.name">	
								<button ng-click="delete_doctorate([[$index]])">X</button>	<br/>
								</div>
								<a ng-show="hide_doc" href="" ng-click="add_doctorate()"><button>+</button></a>	<br/>
							</div>
		                </div>
	                </div>
					<p class="btn"><input class="button btn btn-warning" type="submit" name="submit" value="Save" ng-click="edit_educational_details()"></p>
					<p class="error_message">[[educational_validation_msg]]</p>
	            </div>	            
				<div class="separation_outer" ng-show="resume_detail">
					<h3>Attach Your Resume</h3>
					<p class="mandatory">* Mandatory Fields</p>
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label">Resume Title<span class="red">*</span></label>
		            	<div class="col-sm-8"> 
							<input class="form-control" type="text" name="resume_title" ng-model="resume_details.resume_title">
		                </div>
	                </div>
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label">Attach CV<span class="red">*</span></label>
		            	<div class="col-sm-8"> 
							<input class="form-control" type="file" fileread="resume_doc.src"/>
							<input type="hidden" ng-model="resume_doc.src">
							<a href="/site_media/[[resume_details.resume]]" ng-show="resume_details.resume" target="_blank">Resume</a>
		                </div>
	                </div>
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label">Copy and Paste Resume Here</label>
		            	<div class="col-sm-8"> 
							<textarea class="form-control" rows="4" cols="20" name="resume_text" ng-model="resume_details.resume_text" ></textarea>
		                </div>
	                </div>
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label"></label>
		            	<div class="col-sm-8"> 
		                	<input type="checkbox" ng-model="resume_details.is_resume_show">
						Allow recruiters to view resume
		                </div>
	                </div>
					<p class="btn">
						<input class="button btn btn-warning" type="submit" name="submit" value="Save" ng-click="edit_resume_details()">
					</p>
					<a href=""  ng-click="remove_cv()" ng-show="resume_details.resume" class="red">Delete CV</a>
					<p class="error_message error_p">[[resume_validation_message]]</p>
				</div>
				<div class="separation_outer" ng-show="photo_detail">
					<h3>Update Photo </h3>
					<div class="rounded_photo" ng-show="photo_details.profile_photo" id="profile_image">
	                	<div class="update-photo">
			            	<img src="/site_media/[[photo_details.profile_photo]]" alt=""  id="profile_picture">
	                    </div>
			        </div>
	                <div class="form-group-outer">
						<label class="col-sm-4 control-label">Attach Photo</label>
		            	<div class="col-sm-8"> 
							<input class="form-control" type="file" fileread="photo_img.src"/>
							<p>Maximum 300Kb</p>
							<input class="form-control" type="hidden" ng-model="photo_img.src">
		                </div>
	                </div>
					<br>
					<br>
					<br>
					<p class="btn"><input class="button btn btn-warning" type="submit" name="submit" value="Save" ng-click="edit_photo_details()"></p>
					<p class="error_message">[[photo_validation_message]]</p>
				</div>
			</form>
	{% else %}        
		{% if jobseekers %}			
			<table>
				<tr>
					<th>Name</th>
					<th>Email Id</th>
					<th>Gender</th>
					<th>Nationality</th>
					<th>Mobile Number</th>
					<th>Functional Area</th>
					<th>Resume</th>
					<th></th>
					
				</tr>
				{% for jobseeker in jobseekers %}
					<tr>
						<td>{{jobseeker.user.first_name}}</td>
						<td>{{jobseeker.user.email}}</td>
						<td>{{jobseeker.gender}}</td> 
						<td>{{jobseeker.nationality}}</td>
						<td>{{jobseeker.mobile}}</td>
						<td>{{jobseeker.employment.function}}</td>
						<td>{{jobseeker.education.resume_title}}</td>
						{% if jobseeker.education.resume %}
							<td><a href="/site_media/{{jobseeker.education.resume.name}}" target="_blank">View Attached Resume</a></td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
			<div>
		   		<span>
			        {% if jobseekers.has_previous %}
			            <a href="?page={{ jobseekers.previous_page_number }}">previous</a>
			        {% endif %}
			        <span >
			            Page {{ jobseekers.number }} of {{ jobseekers.paginator.num_pages }}.
			        </span>
			        {% if jobseekers.has_next %}
			            <a href="?page={{ jobseekers.next_page_number }}">next</a>
			        {% endif %}
		    	</span>
			</div>
		{% endif %}
	{% endif %}
{% else %}
	<p>{{message}}</p>
{% endif %}	
{% endblock dashboard_content %}
