{% extends 'base.html' %}
{% block title %}Job Seeker Registration
{% endblock title %}
{% block body_id %}job_seeker_registration{% endblock body_id %}

{% block controller %}ng-controller="JobSeekerController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block content %}

	<form class="form-horizontal" name="registration" method="post" action="">
		{% csrf_token %}

			<p class="mandatory">* Mandatory Fields</p>
            
            <div class="col-xs-12 col-md-8">
            <div class="separation" ng-show="user_login_detail">
            
            	<div class="form-group">
                    <label class="col-sm-2 control-label">Email Id<span class="red">*</span></label>
                    <div class="col-sm-10">
                    	<input class="form-control" type="text" name="email" ng-model="user_login_details.email">
                    </div>
                </div>
                
                {% if not is_profile_edit %}
                		<div class="form-group">
                        	<label class="col-sm-2 control-label">Password<span class="red">*</span></label> 
                            <div class="col-sm-10">
                            	<input class="form-control" type="password" name="password" ng-model="user_login_details.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >Confirm Password<span class="red">*</span></label> 
                            <div class="col-sm-10">
                            <input class="form-control" type="password" name="password1" ng-model="user_login_details.password1">
                        </div>
                        </div>
                {% endif %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name<span class="red">*</span></label>
                    <div class="col-sm-10">
                    	<input class="form-control" type="text" name="first_name" ng-model="user_login_details.first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name<span class="red">*</span></label>
                    <div class="col-sm-10">
                    	<input class="form-control" type="text" name="last_name" ng-model="user_login_details.last_name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                                <input type="checkbox" name="checkbox" ng-model="checkbox">I have read and agree to the privacy statement and terms of use
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <p class="btn"><input class="button btn btn-warning" type="submit" name="submit" value="Save & Edit" ng-click="save_user_login_details()"></p>
                    </div>
                     <input ng-show="user_id" class="button" type="submit" name="next" value="Next" ng-click="reg_next()"> 
                    <p class="error_message">[[user_login_validation]]</p>
                </div>
            </div>
            </div>
		<div class="clear"></div>
         <div class="col-xs-12 col-md-8">
		<div class="separation" ng-show="personal_details">
			<h3>Personal Details</h3>
            <div class="form-group">
                <label class="col-sm-2 control-label">Gender<span class="red">*</span></label> 
                <div class="col-sm-10">
                <input type="radio" name="gender" ng-model="personal.gender" value="male">
                <span class="span_label">Male</span>
                <input type="radio" name="gender" ng-model="personal.gender" value="female">
                <span class="span_label">Female</span>
                </div>
            </div>
			<div class="clear"></div>
            <div class="form-group">
			<label class="col-sm-2 control-label">DOB<span class="red">*</span></label>
			<div class="col-sm-10">
			<input class="form-control"  type="text" name="dob" id="dob" >
            </div>
			</div>
            <div class="form-group">
			<label class="col-sm-2 control-label">Marital Status<span class="red">*</span></label>
            <div class="col-sm-10">
			<select class="form-control" name="marital_status" ng-model="personal.marital_status">
				<option value="">------------------Select------------------</option>
				<option value="Single">Single</option>
				<option value="Married">Married</option>
				<option value="Divorced">Divorced</option>
				<option value="Widowed">Widowed</option>
			</select>
            </div>
            </div>
            
			<div class="form-group">
			<label class="col-sm-2 control-label">Nationality<span class="red">*</span></label>
            <div class="col-sm-10">
			<select class="form-control" name="nationality" ng-model="personal.nationality"> 
				<option value="">------------------Select------------------</option>
				<option ng-repeat="nationality in nationalities" value="[[nationality]]" ng-selected="nationality== personal.nationality">[[nationality]]</option>
			</select>
            </div>
            </div>
		
        	<div class="form-group">
			<label class="col-sm-2 control-label">Current Location<span class="red">*</span></label> 
            <div class="col-sm-10">
			<select class="form-control" name="country" ng-model="personal.country">
				<option value="">------------------Select------------------</option>
				<option ng-repeat="country in countries" value="[[country]]" ng-selected="country== personal.country">[[country]]</option>
				<option>Other</option>
			</select>
            </div>
			</div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">City<span class="red">*</span></label>
            <div class="col-sm-10">
			<input class="form-control" type="text" name="city" ng-model="personal.city">
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">Mobile Number<span class="red">*</span></label>
            <div class="col-sm-10">
			<input class="form-control" type="text" name="mobile" ng-model="personal.mobile">
            </div>
			</div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">Alternate E-mail Id</label>
            <div class="col-sm-10">
			<input class="form-control" type="text" name="alt_email" ng-model="personal.alt_email">
            </div>
            </div>
			
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
			<p class="btn"><input class="button btn btn-warning" type="submit" name="submit" value="Save & Edit" ng-click="save_personal_details()"></p>
            </div>
            </div>
			<!-- <input ng-show="user_id" class="button" type="submit" name="next" value="Next" ng-click="reg_next()"> -->
			<p class="error_message ">[[personal_validation]]</p>
		</div>
        </div>
		<div class="clear"></div>

		<div class="col-xs-12 col-md-8">
		<div class="separation" ng-show="current_employment_details ">
			<h3>Employment Details</h3>            

            <div class="form-group">
			<label class="col-sm-2 control-label">Total Experience</label>
             <div class="form-inline" style="border:1px solid #FF0000;">
            <div class="col-sm-10">
                 <select name="years" ng-model="current_employer.years" class="years_select form-control">
                    <option value="">Years</option>
                    <option ng-repeat="expr in experience" value="[[expr]]" ng-selected="expr == current_employer.years">[[expr]]</option>
				 </select>
                 <select name="months" ng-model="current_employer.months" class="month_select form-control">
                    <!-- <option value="">Months</option> -->
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                </select> 
             </div>
             </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">Monthly Salary</label>
            <div class="col-sm-10">
			<input class="form-control" type="text" name="salary" ng-model="current_employer.salary">
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label"> Currency </label>
            <div class="col-sm-10">
			<select class="form-control" name="currency" ng-model="current_employer.currency">
				<option value="">Select Currency</option>
				<option ng-repeat="currency in currencies" value="[[currency]]" ng-selected="currency == current_employer.currency">[[currency]]</option>
			</select>
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">Current Designation</label>
            <div class="col-sm-10">
			<input class="form-control" type="text" name="designation" ng-model="current_employer.designation">
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">Current Industry</label>
            <div class="col-sm-10">
			<select class="form-control" name="industry" ng-model="current_employer.industry"> 
				<option value="">--------------Select------------</option>
				<option ng-repeat="industry in industries" value="[[industry]]" ng-selected="industry == current_employer.industry">[[industry]]</option>				
			</select>
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">Functional Area</label>
            <div class="col-sm-10">
			<select class="form-control" name ="functions" ng-model="current_employer.functions">
				<option value="">---------------Select-------------</option>
				<option ng-repeat="function in functions" value="[[function]]" ng-selected="function == current_employer.functions">[[function]]</option>
			</select>
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">Previous Employer</label>
            <div class="col-sm-10">
			<div class="add_employers">
				<input class="form-control" type="text" name="previous_employer" ng-repeat="employer in employers" ng-model="employer.employer">
				<a ng-show="hide_emp" href="" ng-click="add_employer()"><button>+</button></a>
			</div>
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">Key Skills<span class="red">*</span></label>
            <div class="col-sm-10">
			<textarea class="form-control" rows="4" cols="20" name="skills" ng-model="current_employer.skills"></textarea>
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label"> Prefered Location <span class="red">*</span></label>
            <div class="col-sm-10">
			<select class="form-control" name="locations" ng-model="current_employer.locations" multiple>
				<option value="">Select location</option>
				<option ng-repeat="country in countries" value="[[country]]" ng-selected="country.selected" ng-click="get_prefered_locations(country)">[[country]]</option>
			</select>
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label"> Prefered Companies <span class="red">*</span></label>
            <div class="col-sm-10">
			<select class="form-control" name="companies" ng-model="current_employer.companies" multiple>
				<option value="">Select Company</option>
				<option ng-repeat="company in companies" value="[[company.id]]" ng-click="get_prefered_companies(company)">[[company.name]]</option>
			</select>
            </div>
            </div>
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
			<p class="btn"><input class="button btn btn-warning" type="submit" name="submit" value="Save & Edit" ng-click="save_current_employer_details()"></p>
            </div>
			</div>
            
			<p class="error_message">[[current_employer_validation_msg]]</p>
		</div>
        </div>
        
		<div class="clear"></div>
        
        <div class="col-xs-12 col-md-8">
		<div class="separation" ng-show="educational_detail">
			<h3>Education Details</h3>
            <div class="form-group">
			<label class="col-sm-2 control-label">Basic Education<span class="red">*</span></label>
            <div class="col-sm-10">
			<select class="form-control" name="basic_edu" ng-model="educational_details.basic_edu" ng-change="get_stream()" >
				<option value="">-----------Select---------</option>
				<option ng-repeat="education in basic_education" value="[[education]]" ng-selected="education == educational_details.basic_edu" >[[education]]</option>
			</select>
            </div>
            </div>
            <div class="form-group">
			<label class="col-sm-2 control-label">Specialization<span class="red">*</span></label>
             <div class="col-sm-10">
			<select class="form-control" name="basic_specialization" ng-model="educational_details.basic_specialization">
				<option value="">-----------Select---------</option>
				<option ng-repeat="specialization in basic_specializations" value="[[specialization]]" ng-selected="specialization == educational_details.basic_specialization">[[specialization]]</option>
			</select>
            </div>
            </div>
			
            <div class="form-group">
			<label class="col-sm-2 control-label">Year of Passing<span class="red">*</span></label>
            <div class="col-sm-10">
			<select class="form-control" name="pass_year_basic" ng-model="educational_details.pass_year_basic">
				<option value="">--------Select-------</option>
				<option ng-repeat="yr in year" value="[[yr]]" ng-selected="yr == educational_details.pass_year_basic ">[[yr]]</option>
			</select>
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">Masters Education</label>
            <div class="col-sm-10">
			<select class="form-control" name="masters_edu" ng-model="educational_details.masters_edu" ng-change="get_master_stream()">
				<option value="">---------Select---------</option>
				<option ng-repeat="edu in masters_education" value="[[edu]]" ng-selected="edu == educational_details.masters_edu" >[[edu]]</option>
			</select>
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">Specialization</label>
            <div class="col-sm-10">
			<select class="form-control" name="master_specialization" ng-model="educational_details.master_specialization">
				<option value="">-----------Select---------</option>
				<option ng-repeat="specialization in specializations" value="[[specialization]]" ng-selected="specialization == educational_details.master_specialization">[[specialization]]</option>
			</select>
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">Year of Passing</label>
            <div class="col-sm-10">
			<select class="form-control" name="pass_year_masters" ng-model="educational_details.pass_year_masters" >
				<option value="">--------Select-------</option>
				<option ng-repeat="yr in year" value="[[yr]]" ng-selected="yr == educational_details.pass_year_masters">[[yr]]</option>
			</select>
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">Doctrate</label>
            <div class="col-sm-10">
			<div class="add_employers">
				<input class="form-control" type="text" ng-repeat="doctrate in doctorate" name="doctrate" ng-model="doctrate.name">	
				<a ng-show="hide_doc" href="" ng-click="add_doctorate()"><button>+</button></a>	<br/>
			</div>	
            </div>	
            </div>
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
			<p class="btn"><input class="button btn btn-warning" type="submit" name="submit" value="Save & Edit" ng-click="save_educational_details()"></p>
			</div>
            </div>
            
			<p class="error_message">[[educational_validation_msg]]</p>
		</div>
        </div>
        
		<div class="clear"></div>
        
        <div class="col-xs-12 col-md-8">
		<div class="separation" ng-show="resume_detail">
			<h3>Attach Your Resume</h3>
            <div class="form-group">
			<label class="col-sm-2 control-label">Resume Title<span class="red">*</span></label>
            <div class="col-sm-10">
			<input class="form-control" type="text" name="resume_title" ng-model="resume_details.resume_title">
            </div>
            </div>
            
            <div class="form-group">
			<label class="col-sm-2 control-label">Attach CV<span class="red">*</span></label>
            <div class="col-sm-10">
			<input class="form-control" type="file" fileread="resume_doc.src"/>
			<input class="form-control" type="hidden" ng-model="resume_doc.src">
			<a href="/media/[[resume_details.resume]]" ng-show="resume_details.resume" target="_blank">Resume</a>
            </div>
            </div>
            <div class="form-group">
			<label class="col-sm-2 control-label">Copy and Paste Resume Here</label>
            <div class="col-sm-10">
			<textarea class="form-control" rows="4" cols="20" name="resume_text" ng-model="resume_details.resume_text" ></textarea>
            </div>
            </div>
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
			<label >Allow recruiters to view resume</label>
            <input type="checkbox" true ng-model="resume_details.is_resume_show">
            </div>
            </div>
            </div>
            
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
			<p class="btn"><input class="button btn btn-warning" type="submit" name="submit" value="Save & Edit" ng-click="save_resume_details()"></p>
			<p class="error_message ">[[resume_validation_message]]</p>
            </div>
            </div>
            
		</div>
        
        </div>
        
		<div class="clear"></div>

        <div class="col-xs-12 col-md-8">
		<div class="separation" ng-show="photo_detail">
			<h3>Attach Your Photo </h3>
			<div class="rounded_photo" ng-show="photo_details.profile_photo" id="profile_image">
	            <img src="/media/[[photo_details.profile_photo]]" alt="" class="img-circle" style="border: 10px solid rgba(50, 50, 50, 0.1);" id="profile_picture">
	        </div>
            <div class="form-group">
			<label class="col-sm-2 control-label">Attach Photo</label>
            <div class="col-sm-10">
			<input class="form-control" type="file" fileread="photo_img.src"/>
			<input class="form-control" type="hidden" ng-model="photo_img.src">
            </div>
            </div>
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
	        <div class="btn">
				
				<p class="btn"><input class="button btn btn-warning" type="submit" name="submit" value="Save & Edit" ng-click="save_photo_details()"></p>
				
				
			</div>
			<p class="error_message ">[[photo_validation_message]]</p>
            </div>
            </div>
		</div>

		</div>
	</form>


{% endblock content %}

	
