
{% extends base_template %}
{% block title %}Jobseeker 
{% endblock title %}

{% block dashboard_content %}
	
    <div class="separation">
	<h3>Applied Jobs</h3>
	{% if applied_jobs %}
    <div class="separation_outer">
		<table class="employer-activity">
			<tr>
				<th>Job Title</th>
				<th>Job Description</th>
				<th>Recruiter</th>
				<th>Job Location</th>
				<th>Last Date</th>
			</tr>
			{% for job in applied_jobs %}
			<tr>
				<td>{{job.job_title}}</td>
				<td>{{job.description}}</td>
				<td>{{job.recruiter}}</td>
				<td>{{job.job_location}}</td>
				<td>{{job.last_date}}</td>
			</tr>
			{% endfor %}
		</table>
    </div>
    </div>
		<h3>Last Login</h3>
        <div class="separation_outer">
        {{last_login}}
        </div>
	{% else %}
		<p>No jobs applied</p>
	{% endif %}
{% endblock dashboard_content %}