{% extends 'base.html' %}
{% block title %}Recruiter Edit
{% endblock title %}
{% block body_id %}recruiter_edit{% endblock body_id %}

{% block controller %}ng-controller="EditRecruiterController" ng-init="init('{{csrf_token}}', '{{user_id}}', '{{is_profile_edit}}')"{% endblock controller %}

{% block content %}

	<form name="edit" method="post" action="">
		{% csrf_token %}

			<p class="mandatory">* Mandatory Fields</p>
			<label>Company Name<span class="red">*</span></label>
			<input type="text" name="name" ng-model="recruiter.name" value="{{recruiter.name}}">
			<label>Email Id<span class="red">*</span></label>
			<input type="text" name="email" ng-model="recruiter.email" value="{{recruiter.email}}">
			<label>Industry Type<span class="red">*</span></label>
			<select name="industry" ng-model="recruiter.industry" ng-options="industry as industry for industry in industries">
			</select>
			<label>Mobile Number<span class="red">*</span></label>
			<input type="text" name="mobile" ng-model="recruiter.mobile" value="{{recruiter.mobile}}">
			<label>Land Line Number<span class="red">*</span></label>
			<input type="text" name="mobile" ng-model="recruiter.phone" value="{{recruiter.phone}}">
			<label>Country<span class="red">*</span></label> 
			<select name="country" ng-model="recruiter.country">
				<option value="{{recruiter.country}}"></option>
				<option ng-repeat="country in countries" value="[[country]]" ng-selected="country== recruiter.country">[[country]]</option>
				<option>Other</option>
			</select>
			<label>City</label>
			<input type="text" name="city" ng-model="recruiter.city" value="{{recruiter.city}}">
			<label>Company description</label>
			<textarea rows="4" cols="20" name="description" ng-model="recruiter.description" value="{{recruiter.description}}"></textarea>
			
	        <label >Attach Company Logo</label>
	        <input  type="file" fileread="photo_img.src"/>
	        <input  type="hidden" ng-model="photo_img.src">
            <img src="/site_media/[[recruiter.photo]]" >Company Logo

			<h3>Attach Your Company Profile </h3>
			<label>Company Profile<span class="red">*</span></label>
			<input type="file" fileread="profile_doc.src"/>
			<input type="hidden" ng-model="profile_doc.src">
			<a href="/site_media/[[recruiter.company_profile]]" ng-show="recruiter.company_profile" target="_blank">Company Profile</a>
			<p class="btn"><input class="button" type="submit" name="submit" value="Save" ng-click="save_edit_profile()"></p>
			<p class="error_message ">[[error_message]]</p>
{% endblock content %}
