{% extends 'employer_dashboard.html' %}
{% block title %}Recruiter 
{% endblock title %}

{% block dashboard_content %}
	
	<h3>Posted Jobs</h3>
	{% if posted_jobs %}
		<table>
			<tr>
				<th>Job Title</th>
				<th>Job Qualification</th>
				<th>Job Location</th>
				<th>Last Date</th>
			</tr>
			{% for job in posted_jobs %}
			<tr>
				<td>{{job.job_title}}</td>
				<td>{{job.education_req}}</td>
				<td>{{job.job_location}}</td>
				<td>{{job.last_date}}</td>
			</tr>
			{% endfor %}
		</table>
		
	{% else %}
		<p>No jobs posted</p>
	{% endif %}
	<h3>Last Login</h3>{{last_login}}
{% endblock dashboard_content %}