{% extends 'base.html' %}
{% block title %}Recruiter Registration
{% endblock title %}
{% block body_id %}recruiter_registration{% endblock body_id %}

{% block controller %}ng-controller="RecruiterController" ng-init="init('{{csrf_token}}', '{{user_id}}', '{{is_profile_edit}}')"{% endblock controller %}

{% block content %}


<div class="col-sm-11">
<div class="separation">
<div class="separation_outer">
	<form name="registration" method="post" action="">
		{% csrf_token %}

			<p class="mandatory"><span class="red">*</span> Mandatory Fields</p>
            
            <div class="form-group-outer">            
			<label class="col-sm-4 control-label">Company Name<span class="red">*</span></label>
            <div class="col-sm-8">   
			<input class="form-control" type="text" name="name" ng-model="recruiter.name">
            </div>
            </div>            
            
            <div class="form-group-outer">  
			<label class="col-sm-4 control-label">Email Id<span class="red">*</span></label>
            <div class="col-sm-8">   
			<input class="form-control" type="text" name="email" ng-model="recruiter.email">
            </div>
            </div>
            
            <div class="form-group-outer">              
			<label class="col-sm-4 control-label">Industry Type<span class="red">*</span></label>
            <div class="col-sm-8">   
			<select class="form-control" name="industry" ng-model="recruiter.industry" ng-options="industry as industry for industry in industries | orderBy:'toString()'">
			</select>
            </div>
            </div>
            
			{% if not is_profile_edit %}
            
            
            <div class="form-group-outer">  
					<label class="col-sm-4 control-label">Password<span class="red">*</span></label> 
            		<div class="col-sm-8">   
					<input class="form-control" type="password" name="password" ng-model="recruiter.password">
                    </div>
                    </div>

            
            <div class="form-group-outer">  
					<label class="col-sm-4 control-label">Confirm Password<span class="red">*</span></label> 
            		<div class="col-sm-8">   
					<input class="form-control" type="password" name="confirm_password" ng-model="recruiter.confirm_password">
                    </div>
            </div>
                    
			{% endif %}
                             <div class="form-group-outer">  
          
			<label class="col-sm-4 control-label">Country<span class="red">*</span></label> 
            <div class="col-sm-8">   
                <select class="form-control" name="country" ng-model="recruiter.country" ng-change="get_code()">
                    <option value="">------------------Select------------------</option>
                    <option ng-repeat="country in countries" value="[[country]]" ng-selected="country== recruiter.country" >[[country]]</option>
                    <option>Other</option>
                </select>
            </div>
            </div>   
            <div class="form-group-outer">  
			<label class="col-sm-4 control-label">Mobile Number<span class="red">*</span></label>
            <div class="col-sm-8">   
			<input class="form-control" readonly="readonly" type="text" name="" ng-model="recruiter.code" style="width:30%; float:left; margin:0 20px 0 0px;">
			<input class="form-control" type="text" name="mobile" ng-model="recruiter.mobile" style="width:64%; float:left;">
            </div>
            </div>
            
            <div class="form-group-outer">              
			<label class="col-sm-4 control-label">Land Line Number</label>
            <div class="col-sm-8">   
			<input class="form-control" type="text" name="mobile" ng-model="recruiter.phone">
            </div>
            </div>
            
            
            
            
            
            <div class="form-group-outer">  
			<label class="col-sm-4 control-label">City</label>
            <div class="col-sm-8">   
			<input class="form-control" type="text" name="city" ng-model="recruiter.city">
            </div>
            </div>
            
            
            <div class="form-group-outer">  
			<label class="col-sm-4 control-label">Company description</label>
            <div class="col-sm-8">   
			<textarea class="form-control" rows="4" cols="20" name="description" ng-model="recruiter.description"></textarea>
            </div>
            </div>

            
            <h3>Attach Company Logo</h3>
                  <div  ng-show="recruiter_details.profile_photo" >
                  <img src="/media/[[recruiter_details.profile_photo]]" alt="" >
              </div>
              
           <div class="form-group-outer">  
                  <label class="col-sm-4 control-label"> Company Logo<span class="red">*</span></label>
            <div class="col-sm-8">   
                  <input class="form-control" type="file" fileread="logo.src"/>
                  <input class="form-control" type="hidden" ng-model="logo.src">
            </div>
            </div>
            
			<h3>Attach Your Company Profile</h3>
            
            
            <div class="form-group-outer">  
			<label class="col-sm-4 control-label">Company Profile<span class="red">*</span></label>
            <div class="col-sm-8">   
			<input class="form-control" type="file" fileread="profile_doc.src"/>
			<input type="hidden" ng-model="profile_doc.src">

            </div>

			<a href="/media/[[recruiter.profile]]" ng-show="recruiter.profile" target="_blank">Company Profile</a>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                            <input type="checkbox" name="checkbox" ng-model="checkbox"> I have read and understood and agree to the <a href="{% url 'terms_conditions' %}" target="_blank">Terms and Conditions</a> governing the use of Resource Wagon.
                    </div>
                </div>
            </div>

			<p class="btn"><input class="button btn btn-warning" type="submit" name="submit" value="Save & Edit" ng-click="save_profile()"></p>

			<p class="error_message">[[error_message]]</p>
            </div>
</form>            
</div>
</div>
</div>
{% endblock content %}
