{% extends 'base.html' %}
{% block title %}Recruiter 
{% endblock title %}

{% block controller %}
ng-controller="EditRecruiterController" ng-init="init('{{csrf_token}}', '{{employer_id}}')"
{% endblock controller %}

{% block content %}
<h1>{{user.recruiter_set.all.0.company.company_name}}</h1>
<p>Industry Type :{{user.recruiter_set.all.0.company.industry_type}}</p>
<p>Location :{{user.recruiter_set.all.0.country}}</p>
<p>City :{{user.recruiter_set.all.0.city}}</p>
<p>Email ID:{{user.email}}</p>
<p>Mobile :{{user.recruiter_set.all.0.mobile}}</p>
<p>Land Number :{{user.recruiter_set.all.0.land_num}}</p>
<p>ID:{{user.recruiter_set.all.0.id}}</p>
<div class ="employer_button">

        <input type='submit' value='Update Profile'/>
    </a>
</div>
<li><a href="{% url 'logout' %}">Logout </a></li>
<li><a href="{% url 'postjobs' %}">Post Job</a></li>
{% endblock content %}
