{% extends 'base.html' %}
{% block title %}Reply Details{% endblock title %}
{% block body_id %}reply_details{% endblock body_id %}

{% block content %}
{% if replies %}

	<table >
			<tr >
				<th>Date</th>
				<th>Job Seeker Name</th>
				<th>Job</th>
				<th>Email</th>
				<th>Mobile</th>
				<th>Land line</th>
				<th></th>
				<th></th>
				
			</tr>
		{% for reply in replies %}
			<form method="post" action="">{% csrf_token %}
				{% if not reply.is_delete %}
					<tr>
						<td>{{reply.reply_date}}</td>
						<td>{{reply.request.jobseeker.user.first_name}} {{reply.request.jobseeker.user.last_name}}</td>
						<td></td>
						<td>{{reply.request.jobseeker.applied_jobs.all.0.job_title}}</td>
						<td>{{reply.request.jobseeker.user.email}}</td>
						<td>{{reply.request.jobseeker.mobile}}</td>
						<td>{{reply.request.jobseeker.mobile}}</td>
						{% if reply.request.jobseeker.education.is_resume_show %}
							{% if reply.request.jobseeker.education.resume %}
								<td><a href="/site_media/{{reply.request.jobseeker.education.resume.name}}" target="_blank">View Attached Resume</a></td>
							{% endif %}
						{% else %}
							<td>Can't see Resume</td>
						{% endif %}
						
						<td><a href="{% url 'delete_reply' reply_id=reply.id %}"><input type="button" name="edit" value="Delete"></a></td>
					</tr>
			</form>

			{% endif %}
		{% endfor %}
		<div >
	   		<span >
		        {% if replies.has_previous %}
		            <a href="?page={{ replies.previous_page_number }}">previous</a>
		        {% endif %}

		        <span >
		            Page {{ replies.number }} of {{ replies.paginator.num_pages }}.
		        </span>

		        {% if replies.has_next %}
		            <a href="?page={{ replies.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>
	</table>
{% else %}
	<p>No Replies From Admin</p>

{% endif %}

{% endblock content %}