{% extends 'base.html' %}
{% block title %}Post Job{% endblock title %}
{% block body_id %}jobpost{% endblock body_id %}

{% block controller %}ng-controller="JobPostingController" ng-init="init('{{csrf_token}}','{{job_id}}')"{% endblock controller %}
{% block content %}


	<form class="" name="" method="post" action="">
				{% csrf_token %}

		<div class="separation">
			<br>
			{% if job_id %}
				<h2 >Posted Job</h2>
			{% else %}
				<h2 >Post A Job</h2>
			{% endif %}
			
			<p class="mandatory">* Mandatory Fields</p>
			<br>
			
			<br><br>
			<div class="formrow">
				<label>Job Title<span class="red">*</span></label>
				<input type ="text" name="title" ng-model="jobpost.title" value="">
			</div>
			<div class="formrow">					
				<label>Ref Code<span class="red">*</span></label>
				<input type ="text" name="code" ng-model="jobpost.code">
			</div>	
			<div class="formrow">
				<label>Company Name<span class="red">*</span></label>
					<input type ="text" name="title" ng-model="jobpost.company_name" readonly id="company_name">
			</div>
			
		</div>

		<div class="separation">
			<h3>Job Description</h3>
			<br />
			<div class="formrow">
				<label>Job Summary<span class="red">*</span></label>
				<textarea ng-model="jobpost.summary" cols="50"> </textarea>
			</div>
			<div class="formrow">
				<label>Job Details</label>
				<input type="file" fileread="job_details_pdf.src"/>
			    <input type="hidden" ng-model="job_details_pdf.src"/>
			    <a href="/site_media/[[jobpost.details]]" ng-show="jobpost.details" target="_blank">Details</a>
			</div>
			<div class="formrow">
				<label>Salary(per annum)</label>
				<input style="width: 18%" type ="text" name="salary" ng-model="jobpost.salary">
				<select style="width: 16%" name="currency" ng-model="jobpost.currency">
					<option value="">-Select Currency-</option>
					<option ng-repeat="currency in currencies" value="[[currency]]" ng-selected="currency == jobpost.currency">[[currency]]</option>
				</select>
			</div>
			<br>
		</div>
		<div class="separation">
			<br>
			<h3>Matching Criteria</h3>
			<br />
			<div class="formrow">
				<label>Keyword/Skills<span class="red">*</span></label>
				<input type ="text" name="skills" ng-model="jobpost.skills">
			</div>
			<div class="formrow">
				<label>Experience(years)<span class="red">*</span></label>
				<select style="width: 14%" name="min" ng-model="jobpost.min">
					<option>-min-</option>
					<option ng-repeat="min in Min" value="[[min]]" ng-selected="min == jobpost.min">[[min]]</option>
				</select>
				<select style="width: 14%" name="max" ng-model="jobpost.max">
					<option>-max-</option>
					<option ng-repeat="max in Max" value="[[max]]" ng-selected="max == jobpost.max">[[max]]</option>
				</select>
			</div>
			
			<div class="formrow">
				<label>Job Location<span class="red">*</span></label>
				<select name="location" ng-model="jobpost.location">
					<option>-select-</option>
					<option ng-repeat="country in countries" value="[[country]]" ng-selected="country == jobpost.location">[[country]]</option>
				</select>
			</div>
			
			<div class="formrow">
				<label>Industry<span class="red">*</span></label>
				<select name="industry" ng-model="jobpost.industry">
					<option>-select-</option>
					<option ng-repeat="industry in industries" value="[[industry]]" ng-selected="industry == jobpost.industry">[[industry]]</option>
				</select>
			</div>
			<div class="formrow">
				<label>Category/Function<span class="red">*</span></label>
				<select name="function" ng-model="jobpost.function">
					<option>-select-</option>
					<option ng-repeat="function in functions" value="[[function]]" ng-selected="function == jobpost.function">[[function]]</option>
				</select>
			</div>
			
			<div class="formrow">
				<label>Education Requirement<span class="red">*</span></label>
				<select name="requirement" ng-model="jobpost.requirement">
					<option>-select-</option>
					<option ng-repeat="education in education_required" value="[[education]]" ng-selected="education == jobpost.requirement">[[education]]</option>
				</select>
			</div>
			<div class="formrow">
				<label>Specialization</label>
				<!-- <select name="specialization" ng-model="jobpost.specialization" ng-change="get_req_stream()">
					<option>-select-</option>
					<option ng-repeat="specialization in specializations" value="[[specialization]]" ng-selected="specialization == jobpost.specialization">[[specialization]]</option>
				</select> -->
				<input type="text" name="specialization" ng-model="jobpost.specialisation">
						
			</div>
			<div class="formrow">
				<label>Nationality<span class="red">*</span></label>
				<select name="nationality" ng-model="jobpost.nationality">
					<option value="">-select-</option>
					<option>Any</option>
					<option ng-repeat="nationality in nationalities" value="[[nationality]]" ng-selected="nationality == jobpost.nationality">[[nationality]]</option>

				</select>
			</div>
			<div class="formrow">
				<label>Last Date to Apply</label>
				<input type="text" name="last_date" id="last_dob" placeholder="DD-MM-YYY">
						
			</div>
		</div>
		<div class="separation">
			<h3>Job Owner Details</h3>
			<br />
			<div class="formrow">
				<label>Name<span class="red">*</span></label>
				<input type ="text" name="name" ng-model="jobpost.name">
			</div>
			<div class="formrow">
				<label>Phone<span class="red">*</span></label>
				<input type ="text" name="phone" ng-model="jobpost.phone">
			</div>
			<div class="formrow">
				<label>Email<span class="red">*</span></label>
				<input type ="text" name="email" ng-model="jobpost.email">
			</div>
		</div>
				
		<div class="separation">
			
			<div class="btn" align="center" id="job_submit">
				<input type="button" value="submit" ng-click="save_job()">
				
			</div>

			<div class="message">
				<p ng-show="error_flag">[[error_message]]</p>
			</div>


		</div>
	</form>
</div>
			
{% endblock content %}
