
{% extends base_template %}
{% block title %}Posted Jobs
{% endblock title %}
{% block body_id %}posted_jobs{% endblock body_id %}

{% block controller %}ng-controller="JobPostingController" ng-init="init('{{csrf_token}}','{{job_id}}')"{% endblock controller %}

{% block dashboard_content %}
{% if user.is_superuser %}
	{% if alljobs %}
		{% for job in alljobs %}

			<p class="outer">
            <b> 
            <span class="col-xs-6 col-md-4">{{job.job_title}}</span></b> 
            <span class="col-xs-12 col-md-8"> {{job.job_location}} </span>
            </p>
            <p class="outer">
                <span class="col-xs-6 col-md-4">Ref Code :</span>
                 <span class="col-xs-12 col-md-8">{{job.ref_code}}</span>
            </p>
            <p class="outer">
                <span class="col-xs-6 col-md-4">From :</span>
                 <span class="col-xs-12 col-md-8">{{job.company.company_name}}</span>
            </p>
		
				<p class="outer">
               	 	<span class="col-xs-6 col-md-4">Experience : </span>
                	<span class="col-xs-12 col-md-8">{{job.exp_req_min}} - {{job.exp_req_max}}</span>
                </p>
				<p class="outer">
                	<span class="col-xs-6 col-md-4">Education : </span>
                <span class="col-xs-12 col-md-8">{{job.education_req}}</span>
                </p>
				
			
				<p class="outer">
                	<span class="col-xs-6 col-md-4">Specialization : </span>
                	<span class="col-xs-12 col-md-8">{{job.specialization}}</span>
                </p>
				
								
			<br>
			{% if not user.is_superuser %}
				<a href="{% url 'post_jobs_edit' job_id=job.id %}"><input class="btn btn-primary" type="submit" name="edit" value="Edit"></a>
			{% endif %}
			<a href="{% url 'delete_job' job_id=job.id %}"><input class="btn btn-danger" type="submit" name="delete" value="Delete"></a>
			<a href="{% url 'applicants' job_id=job.id %}"><input class="btn btn-info" type="submit" name="view_applicants" value="View Applicants"></a></a>
			{% if not user.is_superuser %}
				{% if not job.is_publish %}
					<a href="{% url 'publish_job' job_id=job.id %}"><input class="btn btn-warning" type="submit" name="publish_job" value="Publish"></a>
				{% endif %}
			{% endif %}
			{{message}}
		{% endfor %}
	{% else %}
		<p> You have no posted jobs. Please click <a href="{% url 'postjobs' %}"> Here </a> to post a job</p>
	{% endif %}

{% else %}
	{% if jobs %}
		{% for job in jobs %}
        <div class="separation_outer">
        	<div class="form-group-outer">	
        	<p class="outer">
            	<span class="col-xs-6 col-md-4">{{job.job_title}}</span>
            	<span class="col-xs-12 col-md-8">{{job.job_location}} </span>
            </p>
            </div>
            <div class="form-group-outer">  
            <p class="outer">
                <span class="col-xs-6 col-md-4">Ref Code : </span>
                <span class="col-xs-12 col-md-8">{{job.ref_code}}</span>
            </p>
            </div>
        	<div class="form-group-outer">	
			<p class="outer">
            	<span class="col-xs-6 col-md-4">From : </span>
            	<span class="col-xs-12 col-md-8">{{job.company.company_name}}</span>
            </p>
            </div>
            
        	<div class="form-group-outer">	
			<p class="outer">
            	<span class="col-xs-6 col-md-4">Experience : </span>
                <span class="col-xs-12 col-md-8">{{job.exp_req_min}} - {{job.exp_req_max}} yrs</span>
            </p>
            </div>
            
        	<div class="form-group-outer">	
			<p class="outer">
            	<span class="col-xs-6 col-md-4">Specialization : </span>
            	<span class="col-xs-12 col-md-8">{{job.specialization}}</span>
            </p>
            </div>
                        
        	<div class="form-group-outer">	
			<p>
            	<span class="col-xs-6 col-md-4">Date Posted : </span>
            	<span class="col-xs-12 col-md-8">{{job.posting_date}}</span>
            </p>	
            </div>
            
        	<div class="form-group-outer1">			
			<p>
            	<span class="col-xs-6 col-md-4">Education : </span>
            	<span class="col-xs-12 col-md-8">{{job.education_req}}</span>
            </p>	
            </div>
            </div>					
			<br>
			<a href="{% url 'post_jobs_edit' job_id=job.id %}"><input class="btn btn-primary" type="submit" name="edit" value="Edit"></a>
			<a href="{% url 'delete_job' job_id=job.id %}"><input class="btn btn-danger" type="submit" name="edit" value="Delete"></a>
			<a href="{% url 'applicants' job_id=job.id %}"><input class="btn btn-info" type="submit" name="edit" value="View Applicants"></a></a>
			{% if not job.is_publish %}
				<a href="{% url 'publish_job' job_id=job.id %}"><input class="btn btn-warning" type="submit" name="edit" value="Publish"></a>
			{% endif %}
			{{message}}
		{% endfor %}
	{% else %}
		<p> You have no posted jobs. Please click <a href="{% url 'postjobs' %}"> Here </a> to post a job</p>
	{% endif %}

{% endif %}

{% endblock %}