{% extends base_template %}
{% block title %}Search Candidates
{% endblock title %}
{% block body_id %}search_candidates{% endblock body_id %}

{% block controller %}
ng-controller="CandidateSearchController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}

{% block dashboard_content %}

<h2> Search Candidates </h2>
<div class="separation_outer">

	<div class="form-group-outer">
		<label class="col-sm-4 control-label">Industry</label>
        <div class="col-sm-8">  
		<select class="form-control" name="industry" ng-model="search_candidate.industry" ng-options="industry as industry for industry in industries">
		</select>
        </div>
    </div>
    
    <div class="form-group-outer">
		<label class="col-sm-4 control-label">Functional Area</label>
        <div class="col-sm-8">  
		<select class="form-control" name ="functions" ng-model="search_candidate.functions">
			<option value="">---------------Select-------------</option>
			<option ng-repeat="function in functions" value="[[function]]" >[[function]]</option>
		</select>
    </div>
    </div>
    
    <div class="form-group-outer">
		<label class="col-sm-4 control-label">Please choose the educational qualification required for this job:* </label>
        <div class="col-sm-8">  
			<select class="form-control" name="basic_edu" ng-model="educational_details.basic_edu" ng-change="get_stream()">
			<option value="">-----------Select---------</option>
			<option ng-repeat="education in basic_education" value="[[education]]" ng-selected="education == educational_details.basic_edu" >[[education]]</option>
		</select>
    </div>
    </div>
        
    <div class="form-group-outer">
	<label class="col-sm-4 control-label">Specialization</label>
        <div class="col-sm-8">  
		<select class="form-control" name="basic_specialization" ng-model="educational_details.basic_specialization">
			<option value="">-----------Select---------</option>
			<option ng-repeat="specialization in basic_specializations" value="[[specialization]]"> [[specialization]]</option>
		</select>
     </div>
     </div>
     
     
    <div class="form-group-outer">
	<label class="col-sm-4 control-label">How much work experience do you want?</label>
        <div class="col-sm-8">  
		<select name="years" ng-model="search_candidate.years" class="years_select">
			<option value="">Years</option>
			<option ng-repeat="expr in experience" value="[[expr]]">[[expr]]</option>
		</select>
		<select name="months" ng-model="search_candidate.months" class="month_select">
			<option value="">Months</option>
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
		</select> 
      </div>
      </div>
    
    <div class="form-group-outer">    
	<label class="col-sm-4 control-label">What are the Key Skills required for your job?</label>
        <div class="col-sm-8">  
		<textarea class="form-control" rows="4" cols="20" name="skills" ng-model="search_candidate.skills"></textarea>
        </div>
        </div>

</div>
	<div class="btn">
		<input class="button btn btn-warning" type="submit" name="submit" value="Search Candidates" ng-click="search_candidates()">
		<br>
		<p>[[error_message]]</p>		
	</div>
	<div>


	<table ng-show="candidates_data_table">
			<tr >
				<th>Name</th>
				<th>Education</th>
				<th>Specialization</th>
				<th>Skills</th>
				<th>Experience</th>
				<th>Functional Area</th>
				<th>Industry</th>
				<th></th>
				<th></th>
			</tr>
			<tr ng-repeat="candidate in candidates_data">
				<td>[[candidate.first_name]] [[candidate.last_name]]</td>
				<td> [[candidate.education]]</td>
				<td> [[candidate.specialization]]</td>
				<td> [[candidate.skills]]</td>
				<td> [[candidate.exp_yrs]]y [[candidate.exp_mnths]]m</td>
				<td> [[candidate.functional_area]]</td>
				<td> [[candidate.industry]]</td>
				<td><a href="/reports/applicant_resume/[[candidate.id]]/"><input type="submit" name="resume" value="Download Resume"></a></td>

			</tr>			
	</table>
	<div class="not_found" ng-show="no_candidate">
			<p>No Candidates matching your criteria</p>
	</div>


{% endblock %}