{% extends 'base.html' %}
{% block title %}Home{% endblock title%}
{% block body_id %}aboutus{% endblock %}
{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}', '{{login}}')" {% endblock controller %}
{% block content %}


<div class="gray_content">

<div class="col-xs-12 col-sm-6 col-lg-8">
	<div class="latest_job_posting">
		<div class="heading">
			<h3>About Us</h3>
		</div>
		<p>Resource Wagon is a leading Executive search and Consulting Company that specializes in spotting the best talents and offering HR, advisory and consulting services to our valued clients.</p>
        <p>Head Quartered in Middle East and having strategic alliances with key partners across India, we cater to clients from various industrial sectors like IT, Construction, Retail, Hospitality, Shipping and Med-Care.</p>
        
	</div>
</div>

<div class="col-xs-6 col-lg-4">    
	<div class="find_your_perfect_job">
		<div class="heading">
			<h4> Find your perfect job </h4>
		</div>
        <ul>
        	<li><a href="#">Lorem Ipsum is simply dummy dsdsdsd </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        </ul>
	</div>
</div>

	<div class="clear"></div>
</div>



{% endblock content %}