{% extends 'base.html' %}
{% block title %}Home{% endblock title%}
{% block body_id %}candidate_preparation{% endblock %}
{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}', '{{login}}')" {% endblock controller %}
{% block content %}


<div class="gray_content">

<div class="col-xs-12 col-sm-6 col-lg-8">
	<div class="latest_job_posting">
		<div class="heading">
			<h3>Candidate Preparation</h3>
		</div>
		<p><strong>"Success lies not in the result, but in the effort. Being the best is not at all important, doing the best is all that matters"-Author Unknown</strong></p>
        <p><strong>How to prepare your Resume</strong></p>
        <p>The resume often builds the first impression of the candidate. It's the opportunity that you get to gain the prospective employers' interest.</p>
        <p>Below are a few resume writing tips.</p>
        <ul>
        	<li>Keep the resume well organized and brief. No employer would like to spend more than 3-4 minutes going through a profile.</li>
        	<li>Provide your personal details like full name, DOB, Nationality, Contact Information etc.There's no requirement to include your marital status, relegion etc.</li>
        	<li>List your educational as well as your professional qualifications and grades in chronological order.</li>
        	<li>List your IT/Software Skills.</li>
        	<li>'Last things first'-That's the thumb rule for providing your employment history.</li>
        	<li>Mention your proficiency in languages.</li>
        	<li>Today's corporate culture demands well rounded individuals. So don't forget to mention your personal interests.</li>
        	<li>Include references if possible.</li>
        	<li>Above all, eliminate typos, spelling mistakes, grammatical errors and try to keep the language simple.</li>
        </ul>
        <p><strong>How to prepare for your interview:</strong></p>
        <p>If resume builds your first impression, interview cements it. Devote time to prepare properly for the interview.</p>
		<p>Below are a few interview preparation tips.</p>
        <ul>
        	<li>Dress in smart business attire for the interview.</li>
        	<li>Gather information about the Company, its profile and the role you are going to take up.</li>
        	<li>Keep relevant personal documentations such as resumes, qualification certificates etc handy.</li>
        	<li>Instead of asking for an exaggerated salary package explain why you are worth more.</li>
        	<li>Arrive a little early for the interview so that you have time to compose yourself.</li>
        	<li>Greet the interviewer with a smile and a firm handshake, making eye contact.</li>
        	<li>During the interview, you will be assessed on your strengths and weaknesses. Try to be clear and honest.</li>
        	<li>Prepare some relevant questions to ask the employer about the role you are going to take up.</li>
        	<li>Try not to initiate discussions on remuneration at the first interview, but be open if asked.</li>
        	<li>Avoid making negative remarks about your current employer.</li>
        	<li>Leave the interviewer with a good impression.</li>
        	<li>Above all, conduct yourself as if you are determined to get the job you are discussing.</li>
        </ul>
        
        
	</div>
</div>

<div class="col-xs-6 col-lg-4">    
	<div class="find_your_perfect_job">
		<div class="heading">
			<h4> Find your perfect job </h4>
		</div>
        <ul>
        	<li><a href="#">Lorem Ipsum is simply dummy dsdsdsd </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        </ul>
	</div>
</div>

	<div class="clear"></div>
</div>

{% endblock content %}