{% extends 'base.html' %}
{% block title %}Home{% endblock title%}
{% block body_id %}employers{% endblock %}
{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}', '{{login}}')" {% endblock controller %}
{% block content %}


<div class="gray_content">

<div class="col-xs-12 col-sm-6 col-lg-8">
	<div class="latest_job_posting">
		<div class="heading">
			<h3>Competency Analysis</h3>
		</div>
		<p>We, at Resource Wagon, provide strategic and effective HR services across the talent acquisition life cycle right from spotting the right talent to onboading them for our clients.</p>
        <p>Our business is to provide premium, effective and efficient services which would enhance the potential of our clients thus giving competitive edge to their business process. To cater to the various requirements of our clients, we have developed competencies within Resource Wagon that makes us a unique and reliable partner.</p>
        <p>We help companies' benchmark key jobs across the key pillars such as competency, aspirations and behavioral pattern to identify the 'Right Fit' for your organization.</p>
        <p>We use validated pre-employment assessments that does a 360 degree analysis on the the job's needs which ties up with the candidate's resume.</p>
        <p>The assessment takes into consideration the education, experience and soft skills of the candidate and matches it across the key pillars of the job needs which gives the 'Right Fit' for the 'Right job'.</p>
        <p>We strive to delight the clients by providing capable and competitive human capital; customized solutions to boost the client's operational efficiency and expert advisory assistance. We leverage domain experts pertaining to various industrial sectors, to anchor specific verticals.</p>
        <p>We are a team of professionals, who understands people, their dreams and expectations. So for all talented, skilled and capable professionals who are looking for a job or a better opportunity, we endeavor to give them the best of what the industry has to offer. We align the expectations of the employer and the potential employee, thus ensuring that builds a mutually beneficial relationship.</p>
        
        
	</div>
</div>

<div class="col-xs-6 col-lg-4">    
	<div class="find_your_perfect_job">
		<div class="heading">
			<h4>Quick search</h4>
		</div>
        <div class="inner-search">
        <form>    
<div class="home-search-controls"> 
<input class="form-control" type="text" name="search" placeholder="skills" ng-model="skills">
</div>
<p ng-show="is_keyword"></p>
<div class="home-search-controls"> 
<select class="form-control" name="industry" ng-model="industry"> 
<option value="">Industry</option>
<option ng-repeat="industry in industries | orderBy:'toString()'" value="[[industry]]" ng-selected="industry == industry">[[industry]]</option>               
</select>
</div>
<p ng-show="get_industries()"></p> 
<div class="home-search-controls"> 
<select class="form-control" name="country" ng-model="job_location">
<option value="">Country</option>
<option ng-repeat="country in countries" value="[[country]]" ng-selected="country== job_location">[[country]]</option>
<option>Other</option>
</select>
</div>
<p ng-show="get_countries()" ></p>
                    
<a href=""  ng-click="job_search()"><button class="search_button">Search</button></a>

<div class="clear"></div>
</form>
</div>            
        </div>
     </div>

	<div class="clear"></div>
</div>

{% endblock content %}