{% extends 'base.html' %}
{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}')" {% endblock controller %}

{% block content %}

<div class="col-sm-11">
<div class="separation">
<div class="separation_outer">
<div>
	{% for company in companies %}
		<p><h3><a herf="{% url 'company' company_id=company.id %}">{{company.company_name}}</a></h3></p>
		<p>Industry: {{company.industry_type}}</p>
		<p>{{company.description}}</p>
		<p><a href="/site_media/{{company.company_profile.name}}">Download Company Profile</a></p>
	{% endfor %}
	<div >
   		<span >
        {% if companies.has_previous %}
            <a href="?page={{ companies.previous_page_number }}">previous</a>
        {% endif %}

        <span >
            Page {{ companies.number }} of {{ companies.paginator.num_pages }}.
        </span>

        {% if companies.has_next %}
            <a href="?page={{ companies.next_page_number }}">next</a>
        {% endif %}
	    </span>
	</div>
</div>
</div>
</div>
</div>

{% endblock content %}