{% extends 'base.html' %}
{% block title %}Home{% endblock title%}
{% block body_id %}contact{% endblock %}
{% block content %}


<div class="gray_content">

<div class="col-xs-12 col-sm-6 col-lg-8">
	<div class="latest_job_posting">
		<div class="heading">
			<h3>Contact us</h3>
		</div>
		<form action="">
        	<div class="form-group-outer">
                <div class="contact-outer">
                    <label class="col-sm-4 control-label">Keyword</label>
                    <div class="col-sm-8">      
                    <input class="form-control" type="text">
                    </div>
                </div>
                <div class="contact-outer">
                    <label class="col-sm-4 control-label">Keyword</label>
                    <div class="col-sm-8">      
                    <input class="form-control" type="text">
                    </div>
                </div>
                <div class="contact-outer">
                    <label class="col-sm-4 control-label">Keyword</label>
                    <div class="col-sm-8">      
                    	<textarea class="form-control" name="" cols="" rows="">
                        </textarea>
                    </div>
                </div>
                
                <p><strong>Address</strong>
                	
                </p>
            </div>
        </form>
        
	</div>
</div>

<div class="col-xs-6 col-lg-4">    
	<div class="find_your_perfect_job">
		<script type="text/javascript" src="http://www.webestools.com/google_map_gen.js?lati=37.062500&long=-95.677000&zoom=4&width=351&height=351&mapType=normal&map_btn_normal=yes&map_btn_satelite=yes&map_btn_mixte=yes&map_small=yes&marqueur=yes&info_bulle=">
	</div>
</div>

	<div class="clear"></div>
</div>



{% endblock content %}