{% extends 'base.html' %}
{% block title %}Home{% endblock title%}
{% block body_id %}contact{% endblock %}
{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}', '{{login}}')" {% endblock controller %}

{% block content %}


<div class="gray_content">

<div class="col-xs-12 col-sm-6 col-lg-8">
	<div class="latest_job_posting">
		<div class="heading">
			<h3>Contact us </h3>
		</div>
		<form action="">
        	<div class="form-group-outer">
                <div class="contact-outer">
                    <label class="col-sm-4 control-label">Name<span class="red">*</span></label>
                    <div class="col-sm-8">      
                    <input class="form-control" type="text" ng-model="contact.name">
                    </div>
                </div>
                 <div class="contact-outer">
                    <label class="col-sm-4 control-label">Contact No<span class="red">*</span></label>
                    <div class="col-sm-8">      
                    <input class="form-control" type="text" ng-model="contact.mobile" placeholder="Please enter without + or spaces">
                    </div>
                </div>
                <div class="contact-outer">
                    <label class="col-sm-4 control-label">Email<span class="red">*</span></label>
                    <div class="col-sm-8">      
                    <input class="form-control" type="text" ng-model="contact.mail">
                    </div>
                </div>
                <div class="contact-outer">
                    <label class="col-sm-4 control-label">Message</label>
                    <div class="col-sm-8">      
                    	<textarea class="form-control" name="" cols="" rows="" ng-model="contact.message">
                        </textarea>
                    </div>
                </div>
                <div class="contact-outer">
                    <label class="col-sm-4 control-label">How did you know about us?</label>
<!--                                 <div class="col-sm-8">      
                    <input class="form-control" type="text" ng-model="contact.source">
                    </div> -->
                    <div class="col-sm-8">
                    <select  class="form-control" ng-model="contact.source">
                        <option value="">Select</option>
                        <option value="Website">Website</option>
                        <option value="News Paper">News Paper</option>
                        <option value="Radio">Radio</option>
                        <option value="Friends">Friends</option>
                        <option value="Others">Others</option>
                    </select>
                    </div>
                    
                    </div>
                    <div class="contact-outer">
                    <div ng-show="contact.source == 'Others'">
                        <label class="col-sm-4 control-label">Others(Please specify)<span class="red">*</span></label>
                        <div class="col-sm-8">      
                        <input class="form-control" type="text" ng-model="source.other">
                        </div>
                        </div>
                </div>
                <div class="btn margin_left">
                    <p class="btn"><input class="button btn btn-warning" type="submit" name="submit" value="Submit" ng-click="contact_us()"></p>
                </div>
            <p class="error_message ">[[validation_message]]</p>
        </form>
               
            </div>
        
	</div>
</div>

<div class="col-xs-6 col-lg-4">    
	<div class="find_your_perfect_job">
		<div class="heading">
			<h4> Address</h4>
		</div>
                Resource Wagon Consulting Services<br />
                Sheikh Zayed Road,Dubai,UAE.<br />
                
                T   :+971 4 3277375<br />
                <br />
                
                <a href="#">jobs@resourcewagon.com</a><br />
                <a href="#" target="_blank">www.resourcewagon.com</a>
                	
                </p>
	</div>
</div>

	<div class="clear"></div>
</div>



{% endblock content %}