{% extends 'base.html' %}
{% block title %}Home{% endblock title%}
{% block body_id %}contact{% endblock %}
{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}', '{{login}}')" {% endblock controller %}

{% block content %}


<div class="gray_content">

<div class="col-xs-12 col-sm-6 col-lg-8">
	<div class="latest_job_posting">
		<div class="heading">
			<h3>Contact us</h3>
		</div>
		<form action="">
        	<div class="form-group-outer">
                <div class="contact-outer">
                    <label class="col-sm-4 control-label">Name</label>
                    <div class="col-sm-8">      
                    <input class="form-control" type="text" ng-model="contact.name">
                    </div>
                </div>
                <div class="contact-outer">
                    <label class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8">      
                    <input class="form-control" type="text" ng-model="contact.mail">
                    </div>
                </div>
                <div class="contact-outer">
                    <label class="col-sm-4 control-label">Message</label>
                    <div class="col-sm-8">      
                    	<textarea class="form-control" name="" cols="" rows="" ng-model="contact.message">
                        </textarea>
                    </div>
                </div>
                <div class="contact-outer">
                    <label class="col-sm-4 control-label">How did you know about us?</label>
                                <div class="col-sm-8">      
                    <input class="form-control" type="text" ng-model="contact.source">
                    </div>
                </div>
                <div class="btn">
                    <p class="btn"><input class="button btn btn-warning" type="submit" name="submit" value="Submit" ng-click="contact_us()"></p>
            </div>
            <p class="error_message ">[[validation_message]]</p>
        </form>
                <p><strong>Address</strong><br />
                Resource Wagon Consulting Services<br />
                Sheikh Zayed Road,Dubai,UAE.<br />
                
                T   :+971 4 3277375<br />
                M   :+971 55 8530900<br /><br />
                
                <a href="#">jobs@resourcewagon.com</a><br />
                <a href="#" target="_blank">www.resourcewagon.com</a>
                	
                </p>
            </div>
        
	</div>
</div>

<div class="col-xs-6 col-lg-4">    
	<div class="find_your_perfect_job">
		<script type="text/javascript" src="http://www.webestools.com/google_map_gen.js?lati=37.062500&long=-95.677000&zoom=4&width=351&height=351&mapType=normal&map_btn_normal=yes&map_btn_satelite=yes&map_btn_mixte=yes&map_small=yes&marqueur=yes&info_bulle=">
	</div>
</div>

	<div class="clear"></div>
</div>



{% endblock content %}