{% extends 'dashboard.html' %}
{% block title %}Employer Profile{% endblock title%}
{% block controller %}
	ng-controller="EditRecruiterController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}
{% block dashboard_content %}
	{% if recruiters %}
		<table class="employer_profile_box">
			<tr style="border:1px solid #d4d4d4;;">
				<th class="col-md-2">Name</th>
				<th class="col-md-2">Industry</th>
				<th class="col-md-2">Country</th>
				<th class="col-md-2">Email</th>
				<th class="col-md-2">Mobile</th>
				<th class="col-md-2">Land</th>
				<th class="col-md-2">Profile</th>
				<th class="col-md-2">Premium</th>
			</tr>
		{% for recruiter in recruiters %}
			<tr style="border:1px solid #d4d4d4;">
				<td class="col-md-2">{{recruiter.company.company_name}}</td>
				<td class="col-md-2">{{recruiter.company.industry_type}}</td>
				<td class="col-md-2">{{recruiter.country}}</td>
				<td class="col-md-2">{{recruiter.user.email}}</td>
				<td class="col-md-2">{{recruiter.mobile}}</td>
				<td class="col-md-2">{{recruiter.land_num}}</td>
				<td class="col-md-2"><a href="/site_media/{{recruiter.company.company_profile.name}}" target="_blank">View</a></td>
				<td class="col-md-2"> <input id="recruiter_{{recruiter.id}}" type="checkbox" value="{{recruiter.company.is_premium_company}}" name="checkbox" {% if recruiter.company.is_premium_company %} checked {% endif %} ng-click= "save_premium_employer('{{recruiter.id}}', '{{recruiter.company.is_premium_company}}')"></td>
			</tr>	
		</div>
		{% endfor %}
            </table>
		<div style="margin:10px 0 0 0;" >
	   		<span >
	        {% if recruiters.has_previous %}
	            <a href="?page={{ recruiters.previous_page_number }}">previous</a>
	        {% endif %}

	        <span >
	            Page {{ recruiters.number }} of {{ recruiters.paginator.num_pages }}.
	        </span>

	        {% if recruiters.has_next %}
	            <a href="?page={{ recruiters.next_page_number }}">next</a>
	        {% endif %}
		    </span>
		</div>
{% endif %}
{% endblock dashboard_content %}