<footer>
    <div class="container">
        	<div class="col-md-4">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="/static/images/footer-logo.png" id="logo"></a>
                </div>
            </div>
            
        	<div class="col-md-4">
                <div class="footer-email">
                    Email: demo@gmail.com
                </div>
            </div>
            
        	<div class="col-md-4">
                <div class="footer-ph">
                    <strong>Free Speech:</strong><br />
					1-123-123-1234
                </div>
            </div>
    </div>
</footer>