{% extends base_template %}
{% block title %}Forgot Password{% endblock title %}
{% block body_id %}forgot_password{% endblock body_id %}
{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}', '{{login}}')" {% endblock controller %}

{% block content %}
	<div >
		<h2>Forgot Your Password</h2>
		<form method="post" action="{% url 'forgot_password' %}">{% csrf_token %}
			<p>Enter the email id used while creating this account </p>
			<label>Email Id : </label>
			<input type="text" value="" name="email_id">
			<div>
				<input type="submit" value="Submit">
			</div>
				
		</form>
	</div>
	<p>{{message}}</p>
{% endblock content %}