
<header>
    <div class="social_div">
        <div class="social_links">
            <a href="" class="fb"></a>
            <a href="" class="twitter"></a>
            <a href="" class="linked_in"></a>            
        </div>
    </div>
    <div class="header_content">
        <div class="logo_div">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="/static/images/logo.png" id="logo"></a>
            </div>
            <div class="create_account_link">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}"> Logout </a>
                {% else %}
                    <a href="#" ng-click="show_login_popup()"> Login </a> /
                    <a href="#" ng-click="show_registration_popup()"> Create Account </a>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>        
        {% include 'menu.html' %}
    </div>
    <div class="clear"></div>
</header>
