{% extends 'base.html' %}
{% block extrahead %}
    <script type="text/javascript" src="/static/js/jquery.themepunch.plugins.min.js"></script>	
    <link rel="stylesheet" href="/static/css/slider.css" />
    
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>	
	<script type="text/javascript" src="/static/js/jcarousel.min.js"></script>	
   
{% endblock extrahead %}
{% block title %}Home{% endblock title%}
{% block body_id %}home{% endblock %}
{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}', '{{login}}')" {% endblock controller %}
{% block header %} 
	{% include 'home_header.html' %}
<div class="container">
<div class="home-quick-search">
<div class="quickh3">
<h3> Quick search </h3>
<div class="">
<div class="home-search-controls"> 
<input class="form-control" type="text" name="search" placeholder="skills" ng-model="skills">
</div>
<p ng-show="is_keyword"></p>
<div class="home-search-controls"> 
<select class="form-control" name="industry" ng-model="industry"> 
<option value="">Industry</option>
<option ng-repeat="industry in industries | orderBy:'toString()'" value="[[industry]]">[[industry]]</option>               
</select>
</div>
<p ng-show="get_industries()"></p> 
<div class="home-search-controls"> 
<select class="form-control" name="country" ng-model="job_location">
<option value="">Country</option>
<option ng-repeat="country in countries" value="[[country]]" ng-selected="country== job_location">[[country]]</option>
<option>Other</option>
</select>
</div>
<p ng-show="get_countries()" ></p>
                    
<a href=""  ng-click="job_search()"><button class="search_button">Search</button></a>

<div class="clear"></div>
<div class="button_links">
{% if not user.is_authenticated %}
	<a href="" class="login_link" ng-click="show_login_popup()"> User Login</a>
	<a href="" class="registration" ng-click="show_registration_popup()"> Create an account</a>
{% endif %}
<div class="clear"></div>
</div>
</div>
</div>

</div>

<div class="premium_employer-outer">

</div>
<div class="premium_employer">
<div class="premium_employer_content">
		<div class="slide_content">
        	<div class="premium">
            	<div class="four columns"><img src="/static/images/premium-btn.png" /></div>
            </div>
            
            <div id="clients" class="header-block">
                <ul id="clients-carousel" class="jcarousel-skin-tango" >
                     {% if recruiters %}
                     {% for recruiter in recruiters %}
                         <li>
                             <div class="four columns">
                                 <div class="block">
                                     {% if recruiter.company.photo.name %}
                                     	<a href="{% url 'company' company_id=recruiter.company.id %}"><img src="/site_media/{{recruiter.company.photo.name}}" width="196" height="72" alt=""   ></a>
                                     {% else %}
                                     	<a href="{% url 'company' company_id=recruiter.company.id %}"><img src="/static/images/premium-btn.png"  width="196" height="72" /></a>
                                     {% endif %}
                                 </div><!--block-->
                             </div><!--four columns-->
                         </li>
                     {% endfor %}
                     {% endif %}
                 </ul><!--jcarousel-skin-tango-->
        	</div><!--header-block-->
                           
           
		</div>
        <div class="clear"></div>
	</div>
</div>
</div>
<div class="menu_border"></div>

{% endblock header %}
{% block content %}


<div class="gray_content">

<div class="col-xs-12 col-sm-6 col-lg-8">
	<div class="latest_job_posting">
		<div class="heading">
			<h3> Latest Job Posting </h3>
		</div>
		<div class="job_listing">
			<table class="table">
				<tr class="table-hd">
					<th>Posted Date</th>
					<th>Position</th>
					<th>Industry</th>					
					<th>Qualification</th>
				</tr>			
				{% for job in jobs %}
					<tr class="table-row {% if forloop.counter0|divisibleby:2 %}even{% else %} odd {% endif %}">
						<td>{{job.posting_date}}</td>
						<td><a href="{% url 'view_job_details' job.id %}">{{job.job_title}} </a></td>

						<td>{{job.company.industry_type}}</td>

						<td>{{job.education_req}}</td>
					</tr>
				{% endfor %}
			</table>
			<div class="clear"></div>
		</div>
	</div>
</div>

<div class="col-xs-6 col-lg-4">    
	<div class="find_your_perfect_job">
		<div class="heading">
			<h4> Testmonials </h4>
		</div>
    	{% if testmonial %}
    	<p>"{{testmonial.text}}"</p>
    	<p>-{{testmonial.client_name}}<p>
    	<p><a href="{% url 'testmonials' %}">Read More</a></p>
    	{% endif %}
	</div>
</div>

	<div class="clear"></div>
</div>


<div class="box-area">
<div class="row">

<div class="col-sm-3">
<div class="col-box box box-clr1">
 <h3><a href="{% url 'cv_request' %}">Have your CV Written</a></h3>  
</div>
</div>

<div class="col-sm-3">
<div class="col-box box box-clr2">
<h3> <a href="{% url 'contact' %}">Other Services</h3></a>
      

</div>
</div>


</div>
</div>



<script type="text/javascript" src="/static/js/custom.js"></script>	

{% endblock content %}