{% extends 'dashboard.html' %}
{% block dashboard_content %}
{% if jobseekers %}
			
	<table class="jobseeker-profil">
		<tr>
			<th class="col-md-2">Name</th>
			<th class="col-md-2">Email Id</th>
			<th class="col-md-2">Gender</th>
			<th class="col-md-2">Nationality</th>
			<th class="col-md-2">Mobile Number</th>
			<th class="col-md-2">Functional Area</th>
			<th class="col-md-2">Resume</th>
			<!--<th></th>-->
			
		</tr>
	{% for jobseeker in jobseekers %}
		<tr>
			<td class="col-md-2">{{jobseeker.user.first_name}}</td>
			
			<td class="col-md-2">{{jobseeker.user.email}}</td>


			<td class="col-md-2">{{jobseeker.gender}}</td> 

			<td class="col-md-2">{{jobseeker.nationality}}</td>

			<td class="col-md-2">{{jobseeker.mobile}}</td>

			

			<td class="col-md-2">{{jobseeker.employment.function}}</td>

			<td class="col-md-2">{{jobseeker.education.resume_title}}</td>
			{% if jobseeker.education.resume %}
				<td class="col-md-2"><a href="/site_media/{{jobseeker.education.resume.name}}" target="_blank">View Attached Resume</a></td>
			{% endif %}
		</tr>
        </table>
	{% endfor %}
	<div >
   		<span >
	        {% if jobseekers.has_previous %}
	            <a href="?page={{ jobseekers.previous_page_number }}">previous</a>
	        {% endif %}

	        <span >
	            Page {{ jobseekers.number }} of {{ jobseekers.paginator.num_pages }}.
	        </span>

	        {% if jobseekers.has_next %}
	            <a href="?page={{ jobseekers.next_page_number }}">next</a>
	        {% endif %}
    	</span>
	</div>
{% endif %}
{% endblock dashboard_content %}