  
   
<div class="menu-main-menu-container header1">
    <nav>
        <div class="wrap-nav">	
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div id="primary-menu">                        
                        <nav id="main-menu">
                            <ul id="menu-main-menu" class="menu">
                                <li class=" menu-item-depth-0 menu-item-simple-parent ">
                                    <a href="{% url 'home' %}"><span> </span>HOME</a>
                                </li>
                                <li class=" menu-item-depth-0 menu-item-simple-parent ">
                                    <a href="{% url 'companies' %}"><span> </span>COMPANIES</a>
                                </li>
                                <li class=" menu-item-depth-0 menu-item-simple-parent ">
                                    <a href="{% url 'job_search' %}"><span> </span>JOB SEARCH</a>
                                </li>
                                {% if user.is_authenticated %}
                                    <li>
                                        <span></span>
                                        {% if user_type == 'admin' %}
                                            <a href="{% url 'admin_dashboard' %}"> Dashboard </a>
                                        {% else %}
                                            {% if user_type == 'recruiter' %}
                                                <a href="{% url 'employer_dashboard' %}"> Dashboard </a>
                                            {% else %}
                                                {% if user_type == 'jobseeker' %}
                                                    <a href="{% url 'jobseeker_dashboard' %}"> Dashboard </a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                {% endif %}
                                <li class=" menu-item-depth-0 menu-item-simple-parent ">
                                    <a href="{% url 'aboutus' %}"><span class="menu-icon fa fa-gift"> </span>ABOUT US</a>                                
                                    <ul class="sub-menu">
                                    	<li class="menu-item-has-children menu-item-depth-1"><a href="{% url 'mission_statement' %}">Mission Statement</a></li>
                                    	<li class="menu-item-has-children menu-item-depth-1"><a href="{% url 'resources_wagon' %}">Resources Wagons</a></li>
                                    	<li class="menu-item-has-children menu-item-depth-1"><a href="{% url 'wagon_drivers' %}">Wagon Drivers</a></li>
                                    </ul>
                                </li>
                            </ul>                            
                        </nav>
                    </div>      
                </div>
            </div>
        </div>
    </nav>
</div>

      

