{% extends 'base.html' %}
{% block content %}


<div class="gray_content">

<div class="col-xs-12 col-sm-6 col-lg-8">
	<div class="latest_job_posting">
		<div class="heading">
			<h3>Mission Statement</h3>
		</div>
		<p>Our mission is to be acknowledged as the preferred recruitment partner across the globe based on our in-depth market knowledge and working principles.</p>
        <p>Resource Wagon strives to deliver a reliable and remarkable recruitment and consultancy service to its clients. Our focused individualistic approach to benchmark the right resource for the right job, our professional partnerships to find the right resource and our time-bound delivery records makes us unique.</p>
        
        
	</div>
</div>

<div class="col-xs-6 col-lg-4">    
	<div class="find_your_perfect_job">
		<div class="heading">
			<h4> Find your perfect job </h4>
		</div>
        <ul>
        	<li><a href="#">Lorem Ipsum is simply dummy dsdsdsd </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        </ul>
	</div>
</div>

	<div class="clear"></div>
</div>

{% endblock content %}