{% extends 'base.html' %}
{% block title %}Home{% endblock title%}
{% block body_id %}employers{% endblock %}
{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}', '{{login}}')" {% endblock controller %}
{% block content %}


<div class="gray_content">

<div class="col-xs-12 col-sm-6 col-lg-8">
	<div class="latest_job_posting">
		<div class="heading">
			<h3>Recruitment Divisions</h3>
		</div>
		<p>Resource Wagon Consultants are pioneers within their market verticals. We cater to the requirements in the following fields</p>
        <ul>
        	<li>Accountancy & Finance</li>
        	<li>Engineering-Construction And Design</li>
        	<li>Facilities</li>
        	<li>Hospitality</li>
        	<li>Human resources</li>
        	<li>Information technology</li>
        	<li>Med-Care</li>
        	<li>Oil And Gas</li>
        	<li>Retail</li>
        	<li>Sales</li>
        	<li>Supply Chain & Logistics</li>
        </ul>
        
	</div>
</div>

<div class="col-xs-6 col-lg-4">    
	<div class="find_your_perfect_job">
		<div class="heading">
			<h4>Quick search</h4>
		</div>
        <div class="inner-search">
        <form>    
<div class="home-search-controls"> 
<input class="form-control" type="text" name="search" placeholder="skills" ng-model="skills">
</div>
<p ng-show="is_keyword"></p>
<div class="home-search-controls"> 
<select class="form-control" name="industry" ng-model="industry"> 
<option value="">Industry</option>
<option ng-repeat="industry in industries | orderBy:'toString()'" value="[[industry]]" ng-selected="industry == industry">[[industry]]</option>               
</select>
</div>
<p ng-show="get_industries()"></p> 
<div class="home-search-controls"> 
<select class="form-control" name="country" ng-model="job_location">
<option value="">Country</option>
<option ng-repeat="country in countries" value="[[country]]" ng-selected="country== job_location">[[country]]</option>
<option>Other</option>
</select>
</div>
<p ng-show="get_countries()" ></p>
                    
<a href=""  ng-click="job_search()"><button class="search_button">Search</button></a>

<div class="clear"></div>
</form>
</div>            
        </div>
     </div>

	<div class="clear"></div>
</div>

{% endblock content %}