{% extends 'base.html' %}
{% block title %}Home{% endblock title%}
{% block body_id %}employers{% endblock %}
{% block content %}


<div class="gray_content">

<div class="col-xs-12 col-sm-6 col-lg-8">
	<div class="latest_job_posting">
		<div class="heading">
			<h3>Recruitment Divisions</h3>
		</div>
		<p>Resource Wagon Consultants are pioneers within their market verticals. We cater to the requirements in the following fields</p>
        <ul>
        	<li>Accountancy & Finance</li>
        	<li>Engineering-Construction And Design</li>
        	<li>Facilities</li>
        	<li>Hospitality</li>
        	<li>Human resources</li>
        	<li>Information technology</li>
        	<li>Med-Care</li>
        	<li>Oil And Gas</li>
        	<li>Retail</li>
        	<li>Sales</li>
        	<li>Supply Chain & Logistics</li>
        </ul>
        
	</div>
</div>

<div class="col-xs-6 col-lg-4">    
	<div class="find_your_perfect_job">
		<div class="heading">
			<h4> Find your perfect job </h4>
		</div>
        <ul>
        	<li><a href="#">Lorem Ipsum is simply dummy dsdsdsd </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        </ul>
	</div>
</div>

	<div class="clear"></div>
</div>

{% endblock content %}