{% extends 'base.html' %}
{% block title %}Request Details{% endblock title %}
{% block body_id %}request_details{% endblock body_id %}

{% block content %}
{% if requests %}

	<table >
			<tr >
				<th>Date</th>
				<th>Company Name</th>
				<th>Email</th>
				<th>Requested Jobseeker</th>
				<th></th>
				<th></th>
				
			</tr>
		{% for request in requests %}
			<form method="post" action="{% url 'reply' request.id %}">{% csrf_token %}
				<tr>
					<td>{{request.request_date}}</td>
					<td>{{request.recruiter.company.company_name}}</td>
					<td>{{request.recruiter.user.email}}</td>
					<td>{{request.jobseeker.user.first_name}} {{request.jobseeker.user.last_name}}</td>
					{% if  request.is_replied %}
						<td>Already Sent the details </td>
					{% else %}
						<td><input type="submit" name="request" value="Send Contact Details"></td>
					{% endif %}
					<td><a href="{% url 'delete_request' request_id=request.id %}"><input type="button" name="edit" value="Delete"></a></td>
				</tr>
			</form>
		{% endfor %}
	</table>
{% else %}
	<p>No Requests</p>

{% endif %}

{% endblock content %}