{% extends 'dashboard.html' %}
{% block title %}Request Details{% endblock title %}
{% block body_id %}request_details{% endblock body_id %}

{% block dashboard_content %}
{% if requests %}

	<table >
			<tr >
				<th>Date</th>
				<th>Company Name</th>
				<th>Job Title</th>
				<th>Email</th>
				<th>Requested Jobseeker</th>
				<th></th>
				<th></th>
				
			</tr>
		{% for request in requests %}
			{% if not request.is_delete %}
				<form method="post" action="{% url 'reply' request.id %}">{% csrf_token %}
					<tr>
						<td>{{request.request_date}}</td>
						<td>{{request.recruiter.company.company_name}}</td>
						<td>{{request.jobseeker.applied_jobs.all.0.job_title}}</td>
						<td>{{request.recruiter.user.email}}</td>
						<td>{{request.jobseeker.user.first_name}} {{request.jobseeker.user.last_name}}</td>
						{% if  request.is_replied %}
							<td>Already Sent the details </td>
						{% else %}
							<td><input type="submit" name="request" value="Send Contact Details"></td>
						{% endif %}
						
							<td><a href="{% url 'delete_request' request_id=request.id %}"><input type="button" name="edit" value="Delete"></a></td>
						
					</tr>
				</form>
			{% endif %}
		{% endfor %}
	</table>
	<div >
   		<span >
        {% if requests.has_previous %}
            <a href="?page={{ requests.previous_page_number }}">previous</a>
        {% endif %}

        <span >
            Page {{ requests.number }} of {{ requests.paginator.num_pages }}.
        </span>

        {% if requests.has_next %}
            <a href="?page={{ requests.next_page_number }}">next</a>
        {% endif %}
	    </span>
		</div>
{% else %}
	<p>No Requests</p>

{% endif %}

{% endblock dashboard_content %}