{% extends 'base.html' %}
{% block title %}Home{% endblock title%}
{% block body_id %}aboutus{% endblock %}
{% block content %}

<div class="gray_content">

<div class="col-xs-12 col-sm-6 col-lg-8">
	<div class="latest_job_posting">
		<div class="heading">
			<h3>Resources Wagons</h3>
		</div>
		<p>All business enterprises yearn to succeed, grow and thrive. To drive business to achieve its success, it requires great ideas, integral process and beyond all skilled and talented human resources.</p>
        <p>We, at Resource Wagon, provide expert assistance and professional services to cater the need of our global clients. Our business is to provide premium, effective and efficient services which would leverage the potential of our clients thus giving competitive edge to their business process.</p>
        <p><strong>Our services are compartmentalized into</strong></p>
        <ul>
        	<li>HR Consulting</li>
        	<li>Engineering Consulting-Civil Engineering</li>
        	<li>IT Consulting</li>
        	<li>Facilities Management</li>
        </ul>
        
	</div>
</div>

<div class="col-xs-6 col-lg-4">    
	<div class="find_your_perfect_job">
		<div class="heading">
			<h4> Find your perfect job </h4>
		</div>
        <ul>
        	<li><a href="#">Lorem Ipsum is simply dummy dsdsdsd </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        </ul>
	</div>
</div>

	<div class="clear"></div>
</div>


{% endblock content %}