{% extends 'base.html' %}
{% block content %}
{% if testmonials %}
			
	{% for testmonial in testmonials %}
		<div class="col-xs-12">
			<div class="testmonials">
				<p class="testmonial_text">"{{testmonial.text}}"</p>
				<p class="testmonial_client">-{{testmonial.client_name}}</p>
			</div>
		</div>
	{% endfor %}
	
	<div class="pagination" style="margin:10px 0 0 0;" >
		{% if testmonials.paginator.num_pages > 1 %}
		<ul class="pagination">
			  <li>
			  	{% if testmonials.has_previous %}
			  	<a href="?page={{ testmonials.previous_page_number }}">&laquo;</a>
			  	{% endif %}
			  </li>
			  <li><a href="#"> Page {{ testmonials.number }} of {{ testmonials.paginator.num_pages }}.</a></li>
			  <li>
			  	{% if testmonials.has_next %}
			  	<a href="?page={{ testmonials.next_page_number }}">&raquo;</a>
			  	{% endif %}
			  </li>
		</ul>
		{% endif %}
   		<!-- <span>
	        {% if testmonials.has_previous %}
	            <a href="?page={{ testmonials.previous_page_number }}">previous</a>
	        {% endif %}

	        <span>
	            Page {{ testmonials.number }} of {{ testmonials.paginator.num_pages }}.
	        </span>

	        {% if testmonials.has_next %}
	            <a href="?page={{ testmonials.next_page_number }}">next</a>
	        {% endif %}
    	</span> -->
	</div>
{% endif %}
{% endblock content %}