{% extends 'base.html' %}
{% block content %}
{% if testmonials %}
			
	<table class="jobseeker-profil">
		<tr style="border:1px solid #d4d4d4;">
			<th class="col-md-2">Client Name</th>
			<th class="col-md-2">Testimonial</th>
		</tr>
	{% for testmonial in testmonials %}
		<tr style="border:1px solid #d4d4d4;">
			<td class="col-md-2">{{testmonial.client_name}}</td>
			<td class="col-md-2">{{testmonial.text}}</td>
		</tr>
        
	{% endfor %}
    </table>
	<div style="margin:10px 0 0 0;" >
   		<span>
	        {% if testmonials.has_previous %}
	            <a href="?page={{ testmonials.previous_page_number }}">previous</a>
	        {% endif %}

	        <span>
	            Page {{ testmonials.number }} of {{ testmonials.paginator.num_pages }}.
	        </span>

	        {% if testmonials.has_next %}
	            <a href="?page={{ testmonials.next_page_number }}">next</a>
	        {% endif %}
    	</span>
	</div>
{% endif %}
{% endblock content %}