{% extends 'base.html' %}
{% block content %}


<div class="gray_content">

<div class="col-xs-12 col-sm-6 col-lg-8">
	<div class="latest_job_posting">
		<div class="heading">
			<h3>Wagon Drivers</h3>
		</div>
		<p>Resource Wagon boasts of a dedicated team of professionals from HR, IT and Engineering fields with remarkable experience in Middle East.</p>
        <p>Our Wagon drivers possess a proven record of recruiting in Middle East market, with a specialized understanding of their market space. This, we consider, as the best service to our client and candidate base. Our team is equipped with the best candidate selection techniques, to ensure that we can position the best resource to our client</p>
        
        
		<div class="heading">
			<h3>HR</h3>
		</div>
        <p>We, at Resource Wagon, employ best competency assessment techniques to find the best and suitable human resources who meet all the requisites of the clients. Once the client requirements are in, we deconstruct and analyze the attributes, knowledge and skills required for the potential employee according to the description. The required competencies vary for every organization, even though the fundamentals of the jobs are the same.</p>
        <p>Our dedicated HR team develops an organization specific understanding about the requirement, thus providing the best suitable line up of potential employees. This helps to drastically reduce the time, effort and cost involved in the selection process for the employer to find the best from the pool of professionals available in the job market.</p>
		<div class="heading">
			<h3>Engineering</h3>
		</div>
        <p>Resource Wagon is driven by prominent and proficient team of engineering professionals from Construction Industry who has acquired a vast depth of knowledge, perceptive and expertise in their respective fields.</p>
        <p>Our team of experts from Construction Industry provides professional assistance in Quantity Surveying, Pre and Post Tender Estimation, Budgeting and Costing to Construction companies.</p>
		<div class="heading">
			<h3>IT </h3>
		</div>
        <p>Resource Wagon is equipped with a team of IT professionals with profound knowledge in IT Sales and Marketing. Our team of visionaries and experts know what it takes to run your business lucratively, and with its understanding of the IT requirements, we ensure that our services keep you elated and successful.</p>
        <p></p>
        <p></p>
        <p></p>
        
	</div>
</div>

<div class="col-xs-6 col-lg-4">    
	<div class="find_your_perfect_job">
		<div class="heading">
			<h4> Find your perfect job </h4>
		</div>
        <ul>
        	<li><a href="#">Lorem Ipsum is simply dummy dsdsdsd </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        	<li><a href="#">Lorem Ipsum is simply dummy </a></li>
        </ul>
	</div>
</div>

	<div class="clear"></div>
</div>


{% endblock content %}