@charset "utf-8";
/* CSS Document */

.mandatory
{
	/*border:1px solid #FF0000;*/
}
.col-sm-11
{
	float: none;
    margin: 0 auto;border:1px solid #FF0000;
}
.separation
{
	float:left;
	width:100%;
	padding:20px;
	margin:0 auto;
	margin-bottom:20px;
	background:#FFFFFF;
	border:2px solid #a84101;
}
.separation_outer
{
	width:100%;
	float:left;
	padding:20px;
	margin:0 auto;
	margin-bottom:20px;
	background:#f4f4f6;
	border:1px solid #d4d4d4;
}
.separation_outer_hd
{
	width:100%;
	float:left;
	padding:20px;
	margin:0 auto;
	margin-bottom:20px;
	background:#FFFFFF;
	border:1px solid #d4d4d4;
}
.separation_outer h3
{
	clear:both;
	float:left;
	width:100%;
}
.red{ color:#fe0000;}
.span_label 
{
	margin: 0 20px 0 10px;
}
button
{
	float: right;
	position: relative;
	z-index: 999;
	top: -30px;
	right: -30px;
}
.form-button
{

}
.col-sm-4
{
	
}
.outer
{
	float:left;
	width:100%;
	padding:0px;
}
.col-sm-10
{
}

/***************** Footer styles *************/
footer
{
}