@charset "utf-8";
/* CSS Document */

.mandatory
{
	border:1px solid #FF0000;
}
.separation
{
	/*float:left;*/
	width:100%;
	padding:20px;
	margin:0 auto;
	background:#FFFFFF;
	border:2px solid #a84101;
}
.red{ color:#fe0000;}
.span_label 
{
	margin: 0 20px 0 10px;
}
button
{float: right;
position: relative;
z-index: 999;
top: -30px;
right: -30px;
}

.outer
{
	float:left;
	width:100%;
	padding:0px;
	border:1px solid #FF0000;
}
.col-md-4, .col-md-8
{
	border:1px solid #FF0000;
}

/***************** Footer styles *************/
footer
{
	border:1px solid #FF0000;
}