@charset "utf-8";
/* CSS Document */

.mandatory
{
	border:1px solid #FF0000;
}
.separation
{
	/*float:left;*/
	width:100%;
	padding:20px;
	margin:0 auto;
	background:#FFFFFF;
	border:2px solid #a84101;
}
.red{ color:#fe0000;}
.span_label 
{
	margin: 0 20px 0 10px;
}
button
{float: right;
position: relative;
z-index: 999;
top: -30px;
right: -30px;
}

/*form {
	width: 100%;
	margin: auto;
	border:1px solid #FF0000;
}
form label 
{
	width: 36%;
	height: 40px;
	font-style:italic;
	color:#706f6f;
	font-size:14px;
	font-weight:normal;
	border:1px solid #FF0000;
}
form .span_label {
	width: 30%;
	float: left;
}
form input[type="text"], input[type="password"], textarea, select 
{
	width: 60%;
	float: right;
	height: 30px;
	border:1px solid #d6bdae;
}*//*
form input[type="checkbox"], input[type="radio"] {
	float: left;
}

form .years_select, .month_select {
	width: 33%;
	height: 40px;
}*/

/***************** Footer styles *************/
footer
{
	border:1px solid #FF0000;
}