

#slideshow
.iosSlider.fixed{height:373px}#slideshow


#page_header.gradient,#slideshow.gradient{background:-moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));background:-webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);background:-o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);background:-ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );background-color:#345370}#page_header,#slideshow{position:relative;top:0;z-index:0}#page_header.nobg,#slideshow.nobg{background:none}#page_header.hasMargin,#slideshow.hasMargin{margin-bottom:40px}#slideshow
.container{padding:130px
0 45px}

#slideshow{width:100%;height:0;padding:0
0 39% 0}#slideshow.notPadded{height:auto;padding:0}.iosSlider .prev, .iosSlider .next,
.iosSlider .prev .btn-label, .iosSlider .next .btn-label,
.iosSlider.hideCaptions .item .caption,
.selectorsBlock.thumbs .selectors .item,.selectorsBlock.thumbs,#thumbTrayButton{-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out}.fluidHeight{width:100%;position:relative}.sliderContainer{position:relative;width:100%;height:100%;padding:150px
0 50px}.iosSlider{width:100%;background:url(/kallyas_wp/wp-content/themes/kallyas/sliders/iosslider/loader_dark.gif) no-repeat center center;height:1500px}.iosSlider.fixed{height:465px;position:relative;top:0;left:0;overflow:hidden;width:100%}.iosSlider
.slider{width:100%;height:100%}.iosSlider .slider
.item{float:left;width:100%;overflow:hidden}.iosSlider.fixed .slider
.item{text-align:center}.iosSlider .item
.caption{position:absolute;bottom:50px;width:1170px;margin-left:-585px;left:50%}.iosSlider.fixed .item
.caption{position:absolute;bottom:30px;width:960px;margin-left:-480px;left:50%}.iosSlider.hideCaptions .item
.caption{opacity:0;filter:alpha(opacity=0)}.iosSlider.hideCaptions:hover .item
.caption{opacity:1;filter:alpha(opacity=100)}.iosSlider .item .caption
.main_title{color:#fff;font-size:28px;line-height:1.3;border-left:5px solid #fff;padding:0
15px;float:left;margin-bottom:80px;opacity:0;filter:alpha(opacity=0);margin-left:100px;text-shadow:0 0px 3px rgba(0, 0, 0, 0.7);background:#000}.iosSlider .item .caption.style1
.title_big{float:left;clear:both;font-size:32px;line-height:1;color:#e9e9e9;position:relative;left:-100px;opacity:0;filter:alpha(opacity=0);padding:15px
20px 15px 2000px;margin:0
0 0 -2000px;z-index:1;min-width:400px;text-align:right}.iosSlider .item .caption.style1 .title_big:before{content:"";position:absolute;width:100%;height:100%;background:#000;background:rgba(0,0,0,0.9);right:0;top:0;z-index:-1}.iosSlider .item .caption.style1
.more{float:left;width:30px;height:62px;margin-left:4px;position:relative;z-index:1;left:-100px;opacity:0;filter:alpha(opacity=0)}.iosSlider .item .caption.style1 .more
img{width:auto;padding:23px
10px;position:absolute}.iosSlider .item .caption.style1 .more:before,
.iosSlider .item .caption.style1 .more:after{content:"";position:absolute;width:100%;height:100%;z-index:-2}.iosSlider .item .caption.style1 .more:after{z-index:-1}.iosSlider .item .caption.style1 .more:hover:after{background:#333;background:rgba(0,0,0,0.2)}.iosSlider .item .caption.style1
.title_small{float:left;clear:both;font-size:16px;line-height:1;color:#e9e9e9;position:relative;z-index:1;opacity:0;filter:alpha(opacity=0);padding:10px
20px 10px 2000px;margin:5px
0 0 -2000px;text-align:right;font-weight:500;left:-100px}.iosSlider .item .caption.style1 .title_small:before{content:"";position:absolute;width:100%;height:100%;background:#000;background:rgba(0,0,0,0.7);right:0;top:0;z-index:-1}.iosSlider .item .caption.style1 .title_big:before, .iosSlider .item .caption.style1 .more:before, .iosSlider .item .caption.style1 .more:after, .iosSlider .item .caption.style1 .title_small:before{-webkit-transform:skew(-20deg);-moz-transform:skew(-20deg);-o-transform:skew(-20deg);-ms-transform:skew(-20deg);transform:skew(-20deg)}.iosSlider .item .caption.fromright
.main_title{float:right;border-left:0;border-right:5px solid white;margin-left:0;text-align:right;margin-right:100px}.iosSlider .item .caption.style1.fromright
.title_big{float:right;left:auto;right:-100px;padding:15px
2000px 15px 20px;margin:0
-2000px 0 0;text-align:left}.iosSlider .item .caption.style1.fromright
.more{float:right;margin-left:0;margin-right:4px;left:auto;right:-100px}.iosSlider .item .caption.style1.fromright
.title_small{float:right;left:auto;right:-100px;padding:10px
2000px 10px 20px;margin:5px
-2000px 0 0;text-align:left}.iosSlider .item .caption.style2 .title_big,
.iosSlider .item .caption.style2
.title_small{line-height:1.3;color:#E9E9E9;position:relative;opacity:0;filter:alpha(opacity=0);margin:0;float:left;border-left:5px solid #CD2122;background:black;background:rgba(0, 0, 0, 0.9);left:-100px}.iosSlider .item .caption.style2
.title_big{font-size:32px;clear:both;padding:10px
30px 10px 20px}.iosSlider .item .caption.style2
.title_small{font-size:16px;font-weight:500;clear:both;padding:10px
15px}.iosSlider .item .caption.style2
.more{float:left;width:30px;height:30px;margin-left:-8px;background-image:url(/kallyas_wp/wp-content/themes/kallyas/sliders/iosslider/arr01.png) no-repeat center center #CD2122;position:relative;top:12px;z-index:1;left:-100px;opacity:0;filter:alpha(opacity=0)}.iosSlider .item .caption.style2 .more:after{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1}.iosSlider .item .caption.style2 .more
img{width:auto;padding:7px
10px}.iosSlider .item .caption.style2 .more:hover:after{background:#333;background:rgba(0,0,0,0.2)}.iosSlider .item .caption.style2.fromright .title_big,
.iosSlider .item .caption.style2.fromright
.title_small{float:right;border-right:5px solid #CD2122;border-left:0;left:auto;right:-100px}.iosSlider .item .caption.style2.fromright
.title_big{padding:10px
20px 10px 30px}.iosSlider .item .caption.style2.fromright
.more{float:right;margin-left:0;margin-right:-8px;left:auto;right:-100px}.iosSlider .item .caption.style3 .title_big,
.iosSlider .item .caption.style3
.title_small{line-height:1.3;color:#E9E9E9;color:rgba(255, 255, 255, 0.8);position:relative;opacity:0;filter:alpha(opacity=0);margin:0;float:left;left:-100px}.iosSlider .item .caption.style3
.title_big{font-size:52px;clear:both;padding:0;line-height:1}.iosSlider .item .caption.style3 .title_big
span.stronger{font-size:180px;display:block;line-height:1}.iosSlider .item .caption.style3
.title_small{font-size:26px;clear:both;padding:0;max-width:400px}.iosSlider .item .caption.style3.fromright .title_big,
.iosSlider .item .caption.style3.fromright
.title_small{float:right;text-align:right;left:auto;right:-100px}.iosSlider .slider .item
img{width:100%;height:auto}.iosSlider.fixed .slider .item
img{width:auto}.iosSlider .prev,
.iosSlider
.next{position:absolute;top:50%;margin-top:-25px;width:100px;height:50px;z-index:10;background:url(/kallyas_wp/wp-content/themes/kallyas/sliders/iosslider/controls.png) no-repeat center top;opacity:.5;filter:alpha(opacity=50)}.iosSlider.hideControls .prev,
.iosSlider.hideControls
.next{opacity:0;filter:alpha(opacity=0)}.iosSlider.hideControls:hover .prev,
.iosSlider.hideControls:hover
.next{opacity:.5;filter:alpha(opacity=50)}.iosSlider
.prev{left:0}.iosSlider
.next{right:0;background-position:center bottom}.iosSlider .prev:hover,
.iosSlider .next:hover{opacity:1 !important;filter:alpha(opacity=100)}.iosSlider .prev .btn-label,
.iosSlider .next .btn-label{background:rgba(0, 0, 0, 0.4);color:#fff;font-weight:700;display:inline-block;padding:0
4px;line-height:20px;position:absolute;top:50%;margin-top:-10px;opacity:0;filter:alpha(opacity=0)}.iosSlider .prev .btn-label{right:-20px}.iosSlider .next .btn-label{left:-20px}.iosSlider .prev:hover .btn-label{right:-5px;opacity:1;filter:alpha(opacity=100)}.iosSlider .next:hover .btn-label{left:-5px;opacity:1;filter:alpha(opacity=100)}.selectorsBlock.bullets{position:absolute;bottom:10px;width:100%;text-align:center;z-index:1}.selectorsBlock.bullets
.selectors{display:inline;text-align:center}
.selectorsBlock.bullets .selectors
.item{display:inline-block;width:9px;height:9px;margin:0
0 0 4px;background:#fff;opacity:0.4;filter:alpha(opacity=40);-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
