
html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	background:#f4f4f6;
}

.clear {
	clear: both;
}

.spinner {
	background: url('../images/ajax-loader.gif') no-repeat;
	width: 16px;
	height: 16px;
	z-index: 101;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	display: none;
}

/************** header styles *************/

.container 
{
}
.content{margin: 20px 0 0 0;}
header 
{
	width: 100%;
	background:#FFFFFF;
}

.social_div 
{
	width: 100%;
	height: 38px;
	padding:0px;
	background-color: #3f3836;
}
.social_div .social_links 
{
	float: right;
}
.social_div .social_links ul
{
	float: right;
	margin:6px 0 0 0;
}

.social_div .social_links ul li
{
	float:left;
	list-style:none;
	display:inline;
	margin:0 0 0 10px;
}
.social_links a 
{
	float: left;
	width: 22px;
	height: 22px;
	display: block;
}
.social_links .fb {
	background: url('../images/facebook-icon.png');
}
.social_links .twitter {
	background: url('../images/twitter-icon.png');
}
.social_links .linked_in {
	background: url('../images/linkedin-icon.png');
}
.logo_div {
	float:left;
}
.logo {
	float: left;
}
.logo img{width:100%;}
.update-photo img{width:300px !important; height:200px !important;}
.create_account_link {
	float: right;
	margin:0px 0 0 0;
	margin: 65px 0 0 0;
	vertical-align:bottom;
}
.create_account_link a {
	color: #827873;
	text-decoration: none;
}

.create_account_link a:hover {
	color: #fa853f;
	text-decoration: none;
}
/************** contat styles *************/
.contact-outer
{
	clear:both;
	float:left;
	width:100%;
	margin:0 0 20px 0;
}

/************** end contat styles *************/
@media (min-width: 1170px) {
  #main-menu > ul.menu > li > a { padding:9px 43px; text-transform:uppercase; font-weight:normal; color:#FFFFFF; text-decoration:none; }
  
}

 @media only screen and (min-width: 959px) and (max-width: 1170px) {
 	  #main-menu > ul.menu > li > a { padding:9px 43px  !important; }

 }
 @media only screen and (min-width: 768px) and (max-width: 959px) {
 	  #main-menu > ul.menu > li > a { padding:9px 20px  !important; }

 }


  
  @media only screen and (min-width: 480px) and (max-width: 767px) {
  
 #main-menu > ul.menu > li > a { padding:9px 17px  !important; }
   
  }
@media only screen and (max-width: 479px) { .create_account_link {margin: 10px 0 0 0;}}
.banner_top {
	width: 100%;
	height: 11px;
	background: url('../images/banner-top-img.jpg');
}
.banner {
	width: 100%;
	position: relative;
}
.quick_search {
	width: 28%;
	position: absolute;
	z-index: 3;
	left: 60%;
	bottom: 0%;
	height: 44.5%;
	top:253px;
}
.quick_search_overlay {
	width: 28%;
	position: absolute;
	background-color: #FFFFFF;
	opacity: 0.6;
	z-index: 2;
	left: 60%;
	bottom: 0%;
	height: 55%;
	bottom:50px;
}
.button_links {
	margin-top:0px;
}
.banner img {
	width: 100%;
	margin: 0px;
	height: 100%;
}
.menu {
	width: 100%;
	height: 78px;
	background-color: #E8691A;
}
.menu_border {
	width: 100%;
	height: 10px;	
	margin:20px 0 30px 0;
	background-color: #A84101;
}
.quick_search h3{
/*	color: #E8691A;
	margin: 20px 10px 20px 10px;*/
}


.search_controls input, .search_controls select {
	width: 95%;
	border: 1px solid #D7D7D7;
	background-color: #FFFFFF;
	padding: 3px;
	margin: 0px 0px 10px 10px;
}
.search_controls select {
	height: 30px;
}

.button_links {
	margin-top: 20px;
}

.quick_search {
	width: 28%;
	bottom: 0%;
	position: absolute;
}


/************** header styles end **************/

/***************** popup box styles ***************/

#dialogue_popup_container {
	position: absolute;
	display: none;
	margin: auto;
	padding: 5px;
	width: 25%;
	height: 225px;
	top: 50%;
	left: 36%;
	background-color: #e8e6e2;
	padding: 20px;
	z-index: 999;
}

#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000000;
	opacity: 0.5;
	display: none;
	z-index: 999;
}
.username {
	background: url('../images/user-icon.png') no-repeat;
}
.password {
	background: url('../images/password-icon.png') no-repeat;
}
#dialogue_popup_container input[type="text"], #dialogue_popup_container input[type="password"] {
	background-color: #bcbcbc;
	border: none;
	color: #FFFFFF;
	padding: 5px 5px 5px 25px;
	margin: 10px 0px 0px 0px;
	background-position: 6px 6px;
	width: 100%;
	display: block;
}
#dialogue_popup_container input[type="button"] {
	width: 69px;
	height: 33px;
	background: url('../images/login-btn.png');
	border: none;
	margin-top: 10px;
}

#dialogue_popup_container a {
	color: #a84101;
	margin-left: 60px;
}
.close_pop {
	float: right;
	background: url('../images/close-btn.png');
	display: block;
    height: 23px;
    width: 24px;
    clear: both;
}
.registration_link {
	display: inline-block;
    font-weight: bold;
    margin-top: 20%;
}
.error_message {
	margin: 10px;
	color: red;
}
/***************** popup box styles end *************/

/***************** Home styles  *************/

.premium_employer {
	width: 100%;
	padding: 5px;
}
.premium_employer_content {
	width: 100%;
	margin: auto;
}
.slide_left {
	float: left;
	width: 17px;
	height: 84px;
	background: url('../images/slide-lt-arrow.png');
}
.slide_right {
	float: right;
	width: 17px;
	height: 84px;
	background: url('../images/slide-rt-arrow.png');
}
.slide_content img {
	display: block;
    float: left;
    margin: 10px 0 0 10px;;
}
.slide_content .employer {
	margin: 5px 0px 0px 5%;
}

.gray_content {
	width: 100%;
	background-color: #F4F4F6;
}
.heading {
	float:left;
	width:100%;
	background: url('../images/hd-bg.png') repeat-x;
	background-position: center;
}
.heading h3, .heading h4 {
	margin-top: 0px;
}
.heading h3, .heading h4 {
	float: left;
	background-color:  #F4F4F6;
	padding: 0 10px 2px 10px;
}
.heading h3 {
	float: left;
	color:#a84101;
}


.latest_job_posting {
	width: 100%;
	float: left;
}
.latest_job_posting p {
	clear:both;
	padding: 0 0 0 20px;
	
}
.latest_job_posting ul
{
	list-style-type: none;
    padding: 0px;
    margin: 0px 0 0 30px;
}
.latest_job_posting ul li
{
	background-image: url('../images/arrow-img.png');
    background-repeat: no-repeat;
    background-position: 0px 5px; 
    padding-left: 14px; 
}
.find_your_perfect_job {
	width: 100%;
	float: left;
}
.find_your_perfect_job ul {
	float:left;
    padding: 0px;
    margin: 30px 0 0 0;
}

.find_your_perfect_job ul li {

	list-style-type: none;
	background-image:url('../images/arrow-img.png');
    background-repeat: no-repeat;
    background-position: 20px 5px; 
	padding:0 0 10px 34px;
}
.find_your_perfect_job ul li a { text-decoration:none;}
.box-area{margin: 30px 0px 0px;}
.box-area p{margin: 0px 0px 0px; font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight: normal; color:#FFFFFF; font-style:italic;}
p.lastbox{color:#fa853f;}
.job_listing table th{
	width: 25%;
	font-weight: normal;
}

/***************** Inner Search styles  *************/
.inner-search
{
	padding:0px;
	margin:30px 0 0 0;
	clear:both;
}
.home-search-controls
{ 
	width:100%;
	margin:0 0 5px 0;
}
	




/***************** End Inner Search styles  *************/


.table-hd{
	background-color: #E8691A;
	width:100%;
	color: #FFFFFF;
	font-weight: normal;
}
.table-row{
	width:100%;
	clear:both;
	color: #000000;
	font-weight: normal;
}
.color{
	background-color: #f4f4f6;
}
.job_listing {
	border: 1px solid #F4F4F6;
    border-radius: 20px;
    overflow: hidden;
	margin:60px 0 0 0;
    background-color: #FFFFFF;
}
.even td {
	background-color: #F4F4F6;
}
.even {
	padding: 5px;
}

.form-group-outer{ float:left; clear:both; width:100%; margin:0 0 0px 0; background:#FFFFFF; padding:10px 0 10px 0; border-bottom:1px solid #f4f4f6;}
.form-group-outer1{  float:left; clear:both; width:100%; padding: 0px 0 20px 0; margin:0 0 15px 0; background:#FFFFFF; padding:10px 0 10px 0; border-bottom:1px solid #f4f4f6;}

/******************** Home styles end **********/

/****************** Login popup styles *********/



/********************* Login poup styles end *******/


/*********** dashboard styles *************/

.dashboard_menu {
    background-color: #DFDFDF;
    float: left;
    height: 100%;
    width: 100%;
}
.dashboard_content {
    height: 100%;
    width:100%;
}
.dashboard_menu  ul {
	list-style: none;
	padding: 0px;
	width: 100%;
	display: block;
}

.dashboard_menu ul li{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 80%;
	margin: 10px auto auto auto;
	display: block;
	padding: 5px 5px 5px 10px;
}
.dashboard_menu ul li a {
	color: #454545;
}

/**************** end dashboard styles ************/

.not_found ul{ background:#FFFFFF; padding:10px;}
.not_found ul li{ list-style:none; color:#a84101; font-style:italic; font-size:15px;}

/*********** footer styles *************/
footer{ border-top:1px solid #d7d7d7; margin:20px 0 0 0; padding:20px 0 0 0; background-color: #FFFFFF;}
.footer-logo
{
	margin:0px 0 0 0;
}
.footer-email
{
	padding:10px 0 0 0;
}
.footer-ph
{
	padding:10px 0 0 0;
}
.col-box
{
	width:231px;
	min-height:56px;
	padding:20px;
	border-radius: 20px;
}
.col-box h3
{
	font-size:17px;
	font-weight:normal;
	line-height:24px;
	font-family: 'Open Sans', sans-serif;
}
.col-box h3 a
{
	color:#ffffff;
}
.box
{
	margin: auto auto 15px auto;
}
.box-clr1
{
	background:#fa853f;
}
.box-clr2
{
	background:#45bce6;
}
.box-clr3
{
	background:#a8b6c3;
}
.box-clr4
{
	background:#ebeef3;
	color:#000000 !important;
}
.box-clr4 h3
{
	color:#454545 !important;
}


/*********** end footer styles *************/

/*********** jobs styles *************/

.show_jobs
{
	float: left;
	width: 100%;
	margin:10px 0 0 0;
}
.show_jobs tr
{
	float: left;
	width: 100%;
}
.show_jobs tr th
{
	float: left;
	width: 20%;
	padding:10px;
	border: 1px solid #d7d7d7;
}
.show_jobs tr td
{
	float: left;
	width: 20%;
	padding:10px;
	border: 1px solid #d7d7d7;
}
table td[class*="col-"], table th[class*="col-"]{ float:left !important;}
.col-md-2{ word-wrap: break-word !important; width: 14.2% !important; }

.form-select-control
{
	display:block;
	float:left;
	width:40%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.428571429;
	color:#555;
	margin:0 20px 0 0;
	vertical-align:middle;
	background-color:#fff;
	background-image:none;border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
fileread{ color:#fff;background-color:#f0ad4e;border-color:#eea236}
.employer_profile_box tr { padding:0 !important; }
.employer_profile_box .col-md-2{width:12.5% !important; padding:10px 10px 10px 7px !important; margin:0; }
.employer_profile_box tr td{  padding:0 !important; }

.jobseeker-profil
{
	width: 100%;
	margin:10px 0 0 0;
}
.jobseeker-profil tr
{
	float: left;
	width: 100%;
	padding:5px 0;
	margin:0px 0 0 0;
}
.employer-activity { border:1px solid #d4d4d4; width:100%;}
.employer-activity th { border:1px solid #d4d4d4; width:20%; padding:5px 10px;}
.employer-activity td{ border:1px solid #d4d4d4; width:20%; padding:5px 10px;}
h3{ color:#a84101;}
.four.columns{ width: 196px; /*border:1px solid #F00;*/ }
@media only screen and (min-width: 768px) and (max-width: 959px) {
       
        .four.columns{ width: 172px; }
    }
@media only screen and (max-width: 767px) {
.four.columns{ width: 300px; }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.four.columns { width: 420px; }
}


/******************* JCAROUSEL ****************/
.premium{margin: 0 0 0 40px;}
.jcarousel-skin-tango .jcarousel-container {   }
.jcarousel-skin-tango .jcarousel-direction-rtl { direction: rtl; }
.jcarousel-skin-tango .jcarousel-container-horizontal { width:  100%;  }
.jcarousel-skin-tango .jcarousel-clip { overflow: hidden; }
.jcarousel-skin-tango .jcarousel-clip-horizontal { width:  76%; float: left; margin:15px 0 0 50px; }
.jcarousel-skin-tango .jcarousel-item { width: 196px; margin:0 10px 0 10px; }
.jcarousel-skin-tango .jcarousel-item-horizontal { margin-left: 0; margin-right: 10px; }
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal { margin-left: 10px; margin-right: 0; }
.jcarousel-skin-tango .jcarousel-item-placeholder { background: #fff; color: #000; }

/* Horizontal Buttons */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 21px;
    right: 10px;
    width: 17px;
	height: 84px;
    cursor: pointer;
    background: transparent url('../images/slide-rt-arrow.png') no-repeat ;
	
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal { }
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {  }
.jcarousel-skin-tango .jcarousel-next-horizontal:active { }
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active { cursor: default; }
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
	top: 21px;
    width: 17px;
	height: 84px;
    cursor: pointer;
    background: transparent url('../images/slide-lt-arrow.png');
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal { }
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {  }
.jcarousel-skin-tango .jcarousel-prev-horizontal:active { }
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active { cursor: default; }

#clients .block {  position: relative; width:218px; }
#clients .block img { display:block; width:218px; border:4px solid #ebebeb; display:inline; }
#clients .block {
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-ms-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}
#clients .block:hover { background-color:#f5f5f5;; }

/*home-quick-search*/


.search_button {
	width: 112px;
	height: 30px;
	display: block;
	float: right;
	color: transparent;
	background: url('../images/search-btn.jpg') no-repeat;
	border: none;
	margin: 10px 7px 0px 0px !important;
top: 0px !important;
right: 0px !important;
}

.margin_left{
	margin-left: 31%;
}
.login_link {
color: transparent;
	background: url("../images/login.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 51px;   
    width: 134px;
	float:left;
}
.button_links a {
	display: block;
	float: left;
	/*margin: 0px 3px 0px 3px;*/
	color: transparent;
	text-decoration:none;
}
.registration {
	background: url('../images/create-btn.png') no-repeat;
	width: 191px;
	height: 51px;
	float:right;
	color: transparent;
	margin: 0px 0px 0px 6px;
	
}

h3{margin:0px !important;}
.home-quick-search
{ 
	right: 110px;
	width:350px;
	position:absolute; 
	z-index:99;
	margin:-359px 0 0 0;
	
}
.home-search-controls
{ 
	
	margin:0 0 10px 0;
	
	
}
.premium_employer-outer
{ 
	width:100%;
}
.premium_employer
{ 
	width:100%;
	height:100px;
}

    @media only screen and (min-width: 768px) and (max-width: 959px) {
		.home-quick-search
{ 
	right: 110px;
	width:350px;
	position:absolute; 
	z-index:99;
	margin:-344px 0 0 0;
	
}
.home-search-controls
	{ 
		width:100%;
		margin:0 0 5px 0;
		
		
}
#dialogue_popup_container {
	position: absolute;
	display: none;
	margin: auto;
	padding: 5px;
	width: 35%;
	height: 225px;
	top: 50%;
	left: 30%;
	background-color: #121317;
	padding: 20px;
	z-index: 999;
}
	}
	
	@media only screen and (max-width: 767px) {
	.home-quick-search
	{ 
		width:90%;
		right: 0px;
		left:20px;
		position:absolute; 
		z-index:99;
		margin:0px 0 0 0;
	}
	.home-search-controls
	{ 
		width:100%;
		margin:0 0 10px 0;
		
		
}
	
.premium_employer-outer
{ 
	height:340px;
	width:100%;
}
.search_button {
	width:100%;
	height: 30px;
	background:#e8691a;
	border: none;
	margin: 0px 0px 0px 0px !important;
	top: 0px !important;
	right: 0px !important;
	color: #FFFFFF !important;
}

.login_link {
	background: #6c3a96;
	line-height:51px;  
	width:100%;
	text-align:center;
	color: #FFFFFF !important;
	margin:0 0 10px 0 !important;
}
.registration {
	background:#31a2ca;
	width:100%;
	line-height:51px;
	text-align:center;
	color: #FFFFFF !important;
	
	margin: 0px 0px 0px 0px !important;
	
}
.button_links a {
display: block;
float: left;
margin: 0px 0px 0px px !important;
color: transparent;
}
#dialogue_popup_container {
	width: 50%;
	height: 225px;
	top: 50%;
	left: 30%;
	padding: 20px;
	z-index: 999;
}

	}
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	.home-quick-search
	{ 
		 width: 420px;
		position:absolute; 
		z-index:99;
		margin: 0 auto;
	}

	
	}
.width_adjust{
	width: 26% !important;
}
::-webkit-input-placeholder {
   color: #767676;
}

:-moz-placeholder { /* Firefox 18- */
   color: #767676;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #767676;  
}

:-ms-input-placeholder {  
   color: #767676;  
}