
html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	background:#f4f4f6;
}

.clear {
	clear: both;
}


/************** header styles *************/

.container 
{
}
header 
{
	width: 100%;/*
	min-height: 400px;	*/
	background:#FFFFFF;
}

.social_div 
{
	width: 100%;
	height: 38px;
	padding:0px;
	background-color: #3f3836;
}
.social_div .social_links 
{
	float: right;
}
.social_div .social_links ul
{
	float: right;
	margin:6px 0 0 0;
}

.social_div .social_links ul li
{
	float:left;
	list-style:none;
	display:inline;
	margin:0 0 0 10px;
}
.social_links a 
{
	float: left;
	width: 22px;
	height: 22px;
	display: block;
}
.social_links .fb {
	background: url('../images/facebook-icon.png');
}
.social_links .twitter {
	background: url('../images/twitter-icon.png');
}
.social_links .linked_in {
	background: url('../images/linkedin-icon.png');
}
.logo_div {
	/*width: 100%;
	margin: auto;*/
	float:left;
}
.logo {
	float: left;
	/*width: 50%;*/
}
.logo img{width:100%;}
.create_account_link {/*
	width: 100%;*/
	float: right;/*
	color: #827873;
	padding-top: 30px;*/
	margin:0px 0 0 0;
	vertical-align:bottom;
}
.create_account_link a {
	color: #827873;
	text-decoration:none;
}
.banner_top {
	width: 100%;
	height: 11px;
	background: url('../images/banner-top-img.jpg');
}
.banner {
	width: 100%;/*
	height: 408px;*/
	position: relative;
}
.quick_search {
	width: 25%;
	position: absolute;
	z-index: 3;
	left: 60%;
	bottom: 0%;
	height: 85%;
}
.quick_search_overlay {
	width: 25%;
	position: absolute;
	background-color: #FFFFFF;
	opacity: 0.6;
	z-index: 2;
	left: 60%;
	bottom: 0%;
	height: 85%;
}
.banner img {
	width: 100%;
	margin: 0px;
	height: 100%;
}
.menu {
	width: 100%;
	height: 80px;
	background-color: #E8691A;
}
.menu_border {
	width: 100%;
	height: 10px;
	background-color: #A84101;
}
.menu ul {
	display: block;
	width: 75%;
	height: 100%;
	margin: auto;
	list-style: none;
}
.menu ul li {
	display: block;
	float: left;
	height: 100%;
	width: 20%;
	border-right: #C06925;
}
.menu ul li span {
	width: 100%;
	height: 10px;
	background-color: #DFDFD7;
	display: none;
}
.menu ul li:hover span {
	display: block;
}
.menu ul li:hover {
	background-color: #A84101;
}
.menu ul li a {
	padding-top: 15%;
	color: #FFFFFF;
	display: block;
	text-align: center;
	text-decoration: none;
}
.quick_search h3{
	color: #E8691A;
	margin: 20px 10px 20px 10px;
}
.quick_search .login_link {
	background: url("../images/login.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 51px;   
    width: 134px;
}
.search_controls input, .search_controls select {
	width: 95%;
	border: 1px solid #D7D7D7;
	background-color: #FFFFFF;
	padding: 3px;
	margin: 0px 0px 10px 10px;
}
.search_controls select {
	height: 30px;
}
.search_button {
	width: 112px;
	height: 30px;
	display: block;
	float: right;
	background: url('../images/search-btn.jpg') no-repeat;
	border: none;
	margin: 20px 20px 0px 0px;
}
.button_links {
	margin-top: 61px;
}
.button_links a {
	display: block;
	float: left;
	margin: 0px 3px 0px 3px;
}
.registration {
	background: url('../images/create-btn.png') no-repeat;
	width: 191px;
	height: 51px;
	
}

/************** header styles end **************/

/***************** popup box styles ***************/

#dialogue_popup_container {
	position: absolute;
	display: none;
	margin: auto;
	padding: 5px;
	width: 25%;
	height: 200px;
	top: 50%;
	left: 36%;
	background-color: #121317;
	padding: 20px;
	z-index: 6;
}

#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000000;
	opacity: 0.5;
	display: none;
	z-index: 5;
}
.username {
	background: url('../images/user-icon.png') no-repeat;
}
.password {
	background: url('../images/password-icon.png') no-repeat;
}
#dialogue_popup_container input[type="text"], #dialogue_popup_container input[type="password"] {
	background-color: #1E1F24;
	border: none;
	color: #999999;
	padding: 5px 5px 5px 25px;
	margin: 10px 0px 0px 0px;
	background-position: 6px 6px;
	width: 100%;
	display: block;
}
#dialogue_popup_container input[type="button"] {
	width: 69px;
	height: 33px;
	background: url('../images/login-btn.png');
	border: none;
	margin-top: 25px;
}

#dialogue_popup_container a {
	color: #999999;
	margin-left: 60px;
}
.close_pop {
	float: right;
	background: url('../images/close-btn.png');
	display: block;
    height: 20px;
    width: 20px;
    clear: both;
}
.registration_link {
	display: inline-block;
    font-weight: bold;
    margin-top: 20%;
}
/***************** popup box styles end *************/

/***************** Home styles  *************/

.premium_employer {
	width: 100%;
	padding: 5px;
}
.premium_employer_content {
	width: 75%;
	margin: auto;
}
.slide_left {
	float: left;
	width: 17px;
	height: 84px;
	background: url('../images/slide-lt-arrow.png');
}
.slide_right {
	float: right;
	width: 17px;
	height: 84px;
	background: url('../images/slide-rt-arrow.png');
}
.slide_content img {
	display: block;
    float: left;
    margin-left: 10px;
}
.slide_content .employer {
	margin: 5px 0px 0px 5%;
}

.gray_content {
	width: 100%;
	background-color: #F4F4F6;
	/*padding: 5% 14% 5% 14%;*/
}
.heading {
	float:left;
	width:100%;
	background: url('../images/hd-bg.png') repeat-x;
	background-position: center;
}
.heading h3, .heading h4 {
	margin-top: 0px;
	/*background-color:  #F4F4F6;*/
}
.heading h3, .heading h4 {
	/*width: 38%;*/
	float: left;
	background-color:  #F4F4F6;
	padding: 0 10px 0 10px;	
}

/*.heading h4 {
	width: 55%;
}*/
.latest_job_posting {
	width: 100%;
	float: left;/*
	margin-right: 5%;*/
}
.find_your_perfect_job {
	width: 100%;
	float: left;
}
.find_your_perfect_job ul {
float:left;
    padding: 0px;
    margin: 0px;
}

.find_your_perfect_job ul li {

	list-style-type: none;
	background-image:url('../images/arrow-img.png');
    background-repeat: no-repeat;
    background-position: 20px 5px; 
	/*background:url(../images/arrow-img.png);*/
	padding:0 0 10px 34px;
}
.find_your_perfect_job ul li a { text-decoration:none;}
.box-area{margin: 30px 0px 0px;}
.job_listing table th{
	/*background-color: #E8691A;*/
	/*color: #FFFFFF;*/
	width:28%;
	font-weight: normal;
}
.table-hd{
	background-color: #E8691A;
	float:left;
	width:100%;
	color: #FFFFFF;
	font-weight: normal;
}
.table-row{
	/*background-color: #E8691A;*/
	float:left;
	width:100%;
	clear:both;
	color: #000000;
	font-weight: normal;
	/*border-bottom: 1px solid;*/
}
.color{
	background-color: #f4f4f6;
}
.job_listing {
	border: 1px solid #F4F4F6;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FFFFFF;
}
.even td {
	background-color: #F4F4F6;
}
.even {
	padding: 5px;
}

.form-group-outer{ float:left; clear:both; width:100%; margin:0 0 0px 0; background:#FFFFFF; padding:10px 0 10px 0; border-bottom:1px solid #f4f4f6;}
.form-group-outer1{  clear:both; width:100%; padding: 0px 0 20px 0; margin:0 0 15px 0;/* border:1px solid #FF0000;*/}

/******************** Home styles end **********/

/****************** Login popup styles *********/



/********************* Login poup styles end *******/


/*********** dashboard styles *************/

.dashboard_menu {
    background-color: #DFDFDF;
    float: left;
    height: 100%;
    width: 100%;
}
.dashboard_content {
	/*float: left;*/
    height: 100%;
    /* padding: 2%;
   width: 80%;*/
    width:100%;
}
.dashboard_menu  ul {
	list-style: none;
	padding: 0px;
	width: 100%;
	display: block;
}

.dashboard_menu ul li{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 80%;
	margin: 10px auto auto auto;
	display: block;
	padding: 5px 5px 5px 10px;
}
.dashboard_menu ul li a {
	color: #454545;
}

/**************** end dashboard styles ************/


/*********** footer styles *************/
.footer-email
{
	padding:10px 0 0 0;
}
.footer-ph
{
	padding:10px 0 0 0;
}
.col-box
{
	width:231px;
	min-height:96px;
	background:#fa853f;
}
.box
{
	margin: auto auto 15px auto;
}
/*********** end footer styles *************/